<div class="flex flex-col justify-center items-center w-full h-full p-3 gap-6">
    <div class="flex flex-col justify-center items-center">
        <h2 class="font-bold text-xl">Welcome to IoTility</h2>
        <p class="text-xs">Streamline and automate your operations with IoTility.</p>
    </div>

    <div class="login-card flex flex-col bg-white rounded-lg shadow-md p-6 w-full gap-2">
        <div class="flex flex-row items-center gap-2.5">
            <a href="auth/forgot-password">
                <i>
                    <svg width="14" height="16" viewBox="0 0 14 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.5 1.49976L2 11.9998L12.5 22.4998" stroke="#1A1A1A" stroke-width="3"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </i>
            </a>
            <h1 class="font-bold text-xl">Verify Email</h1>
        </div>

        <p class="text-xs">We have send a 6 digit OTP on your email address: 
            <strong>ha*******&#64;metispvt.com</strong>.
            <a class="text-blue-700 font-semibold" href="auth/forgot-password"> CHANGE</a>
        </p>
        

        <div class="input-fields flex flex-col gap-2 mt-6">
            <div class="flex justify-start flex-row gap-1.5">
                <input class="text-3xl font-bold align-middle p-2 text-center bg-gray-200 otp-width rounded-md focus:outline outline-1 outline-gray-400 focus:bg-white" type="tel" name="OTP" id="OTP">
                <input class="text-3xl font-bold align-middle p-2 text-center bg-gray-200 otp-width rounded-md focus:outline outline-1 outline-gray-400 focus:bg-white" type="tel" name="OTP" id="OTP">
                <input class="text-3xl font-bold align-middle p-2 text-center bg-gray-200 otp-width rounded-md focus:outline outline-1 outline-gray-400 focus:bg-white" type="tel" name="OTP" id="OTP">
                <input class="text-3xl font-bold align-middle p-2 text-center bg-gray-200 otp-width rounded-md focus:outline outline-1 outline-gray-400 focus:bg-white" type="tel" name="OTP" id="OTP">
                <input class="text-3xl font-bold align-middle p-2 text-center bg-gray-200 otp-width rounded-md focus:outline outline-1 outline-gray-400 focus:bg-white" type="tel" name="OTP" id="OTP">
                <input class="text-3xl font-bold align-middle p-2 text-center bg-gray-200 otp-width rounded-md focus:outline outline-1 outline-gray-400 focus:bg-white" type="tel" name="OTP" id="OTP">
            </div>
        </div>

        <div class="flex flex-row justify-between items-center mt-6">
            <p class="text-xs ">Didn't receive OTP?</p>  
            <a class="text-xs text-blue-700 font-semibold" href="">RESEND</a>   
        </div>

        <div class="login-button flex flex-row mt-4">
            <button (click)="navigateToResetPassword()"
                class="bg-gradient-to-r from-[#6300D6] to-[#8938E7] text-white font-light text-xs py-2 px-2 rounded-full w-full flex items-center justify-center gap-2 mb-1">
                VERIFY EMAIL
                <i>
                    <svg width="19" height="19" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.5 4.99976L16.5 11.9998L9.5 18.9998" stroke="white" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </i>
            </button>
        </div>
    </div>
</div>