<!-- User Roles Page -->
<div class="flex flex-col gap-3 justify-center items-start">

    <h1 class="text-xs font-bold">User Roles</h1>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 xl:grid-cols-5 gap-4 w-full">
        <div class="card flex flex-col justify-between py-2 px-2.5 rounded-lg gap-px bg-white">
            <div>
                <div class="flex flex-row gap-2 justify-between items-center">
                    <h2 class="toogle-text font-semibold">Super Admin</h2>
                    <div class="flex flex-row justify-center gap-0.5 items-center">
                        <span class="sidebar-text">2 Days ago</span>
                        <button><i>
                            <svg width="12" height="12" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.59961 3.25C9.01382 3.25 9.34961 2.91421 9.34961 2.5C9.34961 2.08579 9.01382 1.75 8.59961 1.75C8.1854 1.75 7.84961 2.08579 7.84961 2.5C7.84961 2.91421 8.1854 3.25 8.59961 3.25Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M8.59961 8.75C9.01382 8.75 9.34961 8.41421 9.34961 8C9.34961 7.58579 9.01382 7.25 8.59961 7.25C8.1854 7.25 7.84961 7.58579 7.84961 8C7.84961 8.41421 8.1854 8.75 8.59961 8.75Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M8.59961 14.25C9.01382 14.25 9.34961 13.9142 9.34961 13.5C9.34961 13.0858 9.01382 12.75 8.59961 12.75C8.1854 12.75 7.84961 13.0858 7.84961 13.5C7.84961 13.9142 8.1854 14.25 8.59961 14.25Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                
                        </i></button>

                    </div>

                </div>
                <p class="card-text">System User</p>
            </div>


            <div class="flex flex-row justify-start items-center ml-4">
                <div
                    class="flex relative w-6 h-6 justify-center items-center m-1 mr-2 -ml-4 rounded-full border-r-2 border-white">
                    <img class="rounded-full" alt="A" src="assets/avatars/Avatar1.png">
                </div>
                <div
                    class="flex relative w-6 h-6 justify-center items-center m-1 mr-2 -ml-4 rounded-full border-r-2 border-white">
                    <img class="rounded-full" alt="A" src="assets/avatars/Avatar2.png">
                </div>
                <div
                    class="flex relative w-6 h-6 justify-center items-center m-1 mr-2 -ml-4 rounded-full border-r-2 border-white">
                    <img class="rounded-full" alt="A" src="assets/avatars/Avatar3.png">
                </div>
                <div
                    class="flex relative w-6 h-6 justify-center items-center m-1 mr-2 -ml-4 rounded-full border-r-2 border-white">
                    <img class="rounded-full" alt="A" src="assets/avatars/Avatar4.png">
                </div>
                <div
                    class="flex relative w-6 h-6 justify-center items-center m-1 mr-2 -ml-4 rounded-full border-r-2 border-white">
                    <img class="rounded-full" alt="A" src="assets/avatars/Avatar5.png">
                </div>
                <div
                    class="flex relative w-6 h-6 justify-center items-center m-1 mr-2 -ml-4 rounded-full border-r-2 border-white">
                    <img class="rounded-full" alt="A" src="assets/avatars/Avatar6.png">
                </div>
                <span class="sidebar-text -ml-1">23 users</span>
            </div>
        </div>

        <div class="card flex flex-col justify-between py-2 px-2.5 rounded-lg gap-2 bg-white">
            <div>
                <div class="flex flex-row gap-2 justify-between items-center">
                    <h2 class="toogle-text font-semibold">Workshop Owners</h2>
                    <div class="flex flex-row justify-center gap-0.5 items-center">
                        <span class="sidebar-text">2 Days ago</span>
                        <button><i>
                            <svg width="12" height="12" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.59961 3.25C9.01382 3.25 9.34961 2.91421 9.34961 2.5C9.34961 2.08579 9.01382 1.75 8.59961 1.75C8.1854 1.75 7.84961 2.08579 7.84961 2.5C7.84961 2.91421 8.1854 3.25 8.59961 3.25Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M8.59961 8.75C9.01382 8.75 9.34961 8.41421 9.34961 8C9.34961 7.58579 9.01382 7.25 8.59961 7.25C8.1854 7.25 7.84961 7.58579 7.84961 8C7.84961 8.41421 8.1854 8.75 8.59961 8.75Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M8.59961 14.25C9.01382 14.25 9.34961 13.9142 9.34961 13.5C9.34961 13.0858 9.01382 12.75 8.59961 12.75C8.1854 12.75 7.84961 13.0858 7.84961 13.5C7.84961 13.9142 8.1854 14.25 8.59961 14.25Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                
                        </i></button>

                    </div>

                </div>
                <p class="card-text">Workshop Users</p>
            </div>


            <div class="flex flex-row justify-start items-center ml-4">
                <div
                    class="flex relative w-6 h-6 justify-center items-center m-1 mr-2 -ml-4 rounded-full border-r-2 border-white">
                    <img class="rounded-full" alt="A" src="assets/avatars/Avatar1.png">
                </div>
                <div
                    class="flex relative w-6 h-6 justify-center items-center m-1 mr-2 -ml-4 rounded-full border-r-2 border-white">
                    <img class="rounded-full" alt="A" src="assets/avatars/Avatar2.png">
                </div>
                <div
                    class="flex relative w-6 h-6 justify-center items-center m-1 mr-2 -ml-4 rounded-full border-r-2 border-white">
                    <img class="rounded-full" alt="A" src="assets/avatars/Avatar3.png">
                </div>
                <div
                    class="flex relative w-6 h-6 justify-center items-center m-1 mr-2 -ml-4 rounded-full border-r-2 border-white">
                    <img class="rounded-full" alt="A" src="assets/avatars/Avatar4.png">
                </div>
                <div
                    class="flex relative w-6 h-6 justify-center items-center m-1 mr-2 -ml-4 rounded-full border-r-2 border-white">
                    <img class="rounded-full" alt="A" src="assets/avatars/Avatar5.png">
                </div>
                <div
                    class="flex relative w-6 h-6 justify-center items-center m-1 mr-2 -ml-4 rounded-full border-r-2 border-white">
                    <img class="rounded-full" alt="A" src="assets/avatars/Avatar6.png">
                </div>
                <span class="sidebar-text -ml-1">23 users</span>
            </div>

        </div>
        
        <div class="card flex flex-col justify-between py-2 px-2.5 rounded-lg gap-2 bg-white">
            <div>
                <div class="flex flex-row gap-2 justify-between items-center">
                    <h2 class="toogle-text font-semibold">Fleet Manager</h2>
                    <div class="flex flex-row justify-center gap-0.5 items-center">
                        <span class="sidebar-text">2 Days ago</span>
                        <button><i>
                            <svg width="12" height="12" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.59961 3.25C9.01382 3.25 9.34961 2.91421 9.34961 2.5C9.34961 2.08579 9.01382 1.75 8.59961 1.75C8.1854 1.75 7.84961 2.08579 7.84961 2.5C7.84961 2.91421 8.1854 3.25 8.59961 3.25Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M8.59961 8.75C9.01382 8.75 9.34961 8.41421 9.34961 8C9.34961 7.58579 9.01382 7.25 8.59961 7.25C8.1854 7.25 7.84961 7.58579 7.84961 8C7.84961 8.41421 8.1854 8.75 8.59961 8.75Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M8.59961 14.25C9.01382 14.25 9.34961 13.9142 9.34961 13.5C9.34961 13.0858 9.01382 12.75 8.59961 12.75C8.1854 12.75 7.84961 13.0858 7.84961 13.5C7.84961 13.9142 8.1854 14.25 8.59961 14.25Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                
                        </i></button>

                    </div>

                </div>
                <p class="card-text">System User</p>
            </div>


            <div class="flex flex-row justify-start items-center ml-4">
                <div
                    class="flex relative w-6 h-6 justify-center items-center m-1 mr-2 -ml-4 rounded-full border-r-2 border-white">
                    <img class="rounded-full" alt="A" src="assets/avatars/Avatar1.png">
                </div>
                <div
                    class="flex relative w-6 h-6 justify-center items-center m-1 mr-2 -ml-4 rounded-full border-r-2 border-white">
                    <img class="rounded-full" alt="A" src="assets/avatars/Avatar2.png">
                </div>
                <div
                    class="flex relative w-6 h-6 justify-center items-center m-1 mr-2 -ml-4 rounded-full border-r-2 border-white">
                    <img class="rounded-full" alt="A" src="assets/avatars/Avatar3.png">
                </div>
                <div
                    class="flex relative w-6 h-6 justify-center items-center m-1 mr-2 -ml-4 rounded-full border-r-2 border-white">
                    <img class="rounded-full" alt="A" src="assets/avatars/Avatar4.png">
                </div>
                <div
                    class="flex relative w-6 h-6 justify-center items-center m-1 mr-2 -ml-4 rounded-full border-r-2 border-white">
                    <img class="rounded-full" alt="A" src="assets/avatars/Avatar5.png">
                </div>
                <div
                    class="flex relative w-6 h-6 justify-center items-center m-1 mr-2 -ml-4 rounded-full border-r-2 border-white">
                    <img class="rounded-full" alt="A" src="assets/avatars/Avatar6.png">
                </div>
                <span class="sidebar-text -ml-1">23 users</span>
            </div>

        </div>

        <div class="card flex flex-col justify-between py-2 px-2.5 rounded-lg gap-2 bg-white">
            <div>
                <div class="flex flex-row gap-2 justify-between items-center">
                    <h2 class="toogle-text font-semibold">Workshop Mechanics</h2>
                    <div class="flex flex-row justify-center gap-0.5 items-center">
                        <span class="sidebar-text">2 Days ago</span>
                        <button><i>
                            <svg width="12" height="12" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.59961 3.25C9.01382 3.25 9.34961 2.91421 9.34961 2.5C9.34961 2.08579 9.01382 1.75 8.59961 1.75C8.1854 1.75 7.84961 2.08579 7.84961 2.5C7.84961 2.91421 8.1854 3.25 8.59961 3.25Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M8.59961 8.75C9.01382 8.75 9.34961 8.41421 9.34961 8C9.34961 7.58579 9.01382 7.25 8.59961 7.25C8.1854 7.25 7.84961 7.58579 7.84961 8C7.84961 8.41421 8.1854 8.75 8.59961 8.75Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M8.59961 14.25C9.01382 14.25 9.34961 13.9142 9.34961 13.5C9.34961 13.0858 9.01382 12.75 8.59961 12.75C8.1854 12.75 7.84961 13.0858 7.84961 13.5C7.84961 13.9142 8.1854 14.25 8.59961 14.25Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                
                        </i></button>

                    </div>

                </div>
                <p class="card-text">Workshop Users</p>
            </div>


            <div class="flex flex-row justify-start items-center ml-4">
                <div
                    class="flex relative w-6 h-6 justify-center items-center m-1 mr-2 -ml-4 rounded-full border-r-2 border-white">
                    <img class="rounded-full" alt="A" src="assets/avatars/Avatar1.png">
                </div>
                <div
                    class="flex relative w-6 h-6 justify-center items-center m-1 mr-2 -ml-4 rounded-full border-r-2 border-white">
                    <img class="rounded-full" alt="A" src="assets/avatars/Avatar2.png">
                </div>
                <div
                    class="flex relative w-6 h-6 justify-center items-center m-1 mr-2 -ml-4 rounded-full border-r-2 border-white">
                    <img class="rounded-full" alt="A" src="assets/avatars/Avatar3.png">
                </div>
                <div
                    class="flex relative w-6 h-6 justify-center items-center m-1 mr-2 -ml-4 rounded-full border-r-2 border-white">
                    <img class="rounded-full" alt="A" src="assets/avatars/Avatar4.png">
                </div>
                <div
                    class="flex relative w-6 h-6 justify-center items-center m-1 mr-2 -ml-4 rounded-full border-r-2 border-white">
                    <img class="rounded-full" alt="A" src="assets/avatars/Avatar5.png">
                </div>
                <div
                    class="flex relative w-6 h-6 justify-center items-center m-1 mr-2 -ml-4 rounded-full border-r-2 border-white">
                    <img class="rounded-full" alt="A" src="assets/avatars/Avatar6.png">
                </div>
                <span class="sidebar-text -ml-1">23 users</span>
            </div>

        </div>

        <div class="card flex flex-col justify-between py-2 px-2.5 rounded-lg gap-2 bg-white">
            <div>
                <div class="flex flex-row gap-2 justify-between items-center">
                    <h2 class="toogle-text font-semibold">Support</h2>
                    <div class="flex flex-row justify-center gap-0.5 items-center">
                        <span class="sidebar-text">2 Days ago</span>
                        <button><i>
                            <svg width="12" height="12" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.59961 3.25C9.01382 3.25 9.34961 2.91421 9.34961 2.5C9.34961 2.08579 9.01382 1.75 8.59961 1.75C8.1854 1.75 7.84961 2.08579 7.84961 2.5C7.84961 2.91421 8.1854 3.25 8.59961 3.25Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M8.59961 8.75C9.01382 8.75 9.34961 8.41421 9.34961 8C9.34961 7.58579 9.01382 7.25 8.59961 7.25C8.1854 7.25 7.84961 7.58579 7.84961 8C7.84961 8.41421 8.1854 8.75 8.59961 8.75Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M8.59961 14.25C9.01382 14.25 9.34961 13.9142 9.34961 13.5C9.34961 13.0858 9.01382 12.75 8.59961 12.75C8.1854 12.75 7.84961 13.0858 7.84961 13.5C7.84961 13.9142 8.1854 14.25 8.59961 14.25Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                
                        </i></button>

                    </div>

                </div>
                <p class="card-text">System User</p>
            </div>


            <div class="flex flex-row justify-start items-center ml-4">
                <div
                    class="flex relative w-6 h-6 justify-center items-center m-1 mr-2 -ml-4 rounded-full border-r-2 border-white">
                    <img class="rounded-full" alt="A" src="assets/avatars/Avatar1.png">
                </div>
                <div
                    class="flex relative w-6 h-6 justify-center items-center m-1 mr-2 -ml-4 rounded-full border-r-2 border-white">
                    <img class="rounded-full" alt="A" src="assets/avatars/Avatar2.png">
                </div>
                <div
                    class="flex relative w-6 h-6 justify-center items-center m-1 mr-2 -ml-4 rounded-full border-r-2 border-white">
                    <img class="rounded-full" alt="A" src="assets/avatars/Avatar3.png">
                </div>
                <div
                    class="flex relative w-6 h-6 justify-center items-center m-1 mr-2 -ml-4 rounded-full border-r-2 border-white">
                    <img class="rounded-full" alt="A" src="assets/avatars/Avatar4.png">
                </div>
                <div
                    class="flex relative w-6 h-6 justify-center items-center m-1 mr-2 -ml-4 rounded-full border-r-2 border-white">
                    <img class="rounded-full" alt="A" src="assets/avatars/Avatar5.png">
                </div>
                <div
                    class="flex relative w-6 h-6 justify-center items-center m-1 mr-2 -ml-4 rounded-full border-r-2 border-white">
                    <img class="rounded-full" alt="A" src="assets/avatars/Avatar6.png">
                </div>
                <span class="sidebar-text -ml-1">23 users</span>
            </div>

        </div>
    </div>

</div>