<h5 class="text-xs font-bold">Dashboards</h5>

<div class="flex flex-col justify-start items-start gap-2 mt-2">
  <div class="flex flex-row justify-center items-center rounded-2xl bg-white px-1 py-1.5 shadow-md">
    <a routerLink="/dashboard/fleetpoint/dashboards/realtime-tracking" routerLinkActive="active"
      class="text-xs text-gray-900 py-1 px-1.5 mr-3 rounded-2xl">
      Realtime Tracking
    </a>
    <a routerLink="/dashboard/fleetpoint/dashboards/overview" routerLinkActive="active"
      class="text-xs text-gray-900 py-1 px-1.5 mr-3 rounded-2xl">
      Overview
    </a>
    <a routerLink="/dashboard/fleetpoint/dashboards/vehicles" routerLinkActive="active"
      class="text-xs text-gray-900 py-1 px-1.5 mr-3 rounded-2xl">
      Vehicles
    </a>
    <a routerLink="/dashboard/fleetpoint/dashboards/drivers" routerLinkActive="active"
      class="text-xs text-gray-900 py-1 px-1.5 mr-3 rounded-2xl">
      Drivers
    </a>
    <a routerLink="/dashboard/fleetpoint/dashboards/jobs" routerLinkActive="active"
      class="text-xs text-gray-900 py-1 px-1.5 mr-3 rounded-2xl">
      Jobs
    </a>
    <a routerLink="/dashboard/fleetpoint/dashboards/maintainance" routerLinkActive="active"
      class="text-xs text-gray-900 py-1 px-1.5 mr-3 rounded-2xl">
      Maintainance
    </a>
  </div>

  <div class="w-full">
    <router-outlet></router-outlet>
  </div>
</div>