<!-- Billing Invoices Table -->
<div class="p-3 bg-white rounded-lg w-full mt-2">
    <div class="flex flex-row justify-between items-center">
        <h2 class="text-xs font-bold">Billing Invoices</h2>
        <div class="flex justify-center items-center gap-2">
            <button class="border py-1 px-2 rounded-md flex flex-row items-center gap-1">
                <i>
                    <svg width="13" height="13" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M18.0251 12.2918C18.0251 13.0335 17.8167 13.7335 17.4501 14.3335C16.7667 15.4835 15.5084 16.2502 14.0667 16.2502C12.6251 16.2502 11.3667 15.4752 10.6834 14.3335C10.3167 13.7418 10.1084 13.0335 10.1084 12.2918C10.1084 10.1085 11.8834 8.3335 14.0667 8.3335C16.2501 8.3335 18.0251 10.1085 18.0251 12.2918Z"
                            stroke="#4A4A4A" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M15.5501 12.2754H12.5918" stroke="#4A4A4A" stroke-width="1.5" stroke-miterlimit="10"
                            stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M14.0664 10.8335V13.7918" stroke="#4A4A4A" stroke-width="1.5" stroke-miterlimit="10"
                            stroke-linecap="round" stroke-linejoin="round" />
                        <path
                            d="M17.2421 3.35034V5.20032C17.2421 5.87532 16.8171 6.717 16.4005 7.142L14.9338 8.43365C14.6588 8.36699 14.3671 8.33366 14.0671 8.33366C11.8838 8.33366 10.1088 10.1087 10.1088 12.292C10.1088 13.0337 10.3171 13.7337 10.6838 14.3337C10.9921 14.8503 11.4171 15.292 11.9338 15.6086V15.892C11.9338 16.4003 11.6005 17.0753 11.1755 17.3253L10.0005 18.0837C8.90879 18.7587 7.39212 18.0003 7.39212 16.6503V12.192C7.39212 11.6003 7.05046 10.842 6.71712 10.4253L3.51712 7.05863C3.10046 6.63363 2.75879 5.87534 2.75879 5.37534V3.43365C2.75879 2.42532 3.51712 1.66699 4.44212 1.66699H15.5588C16.4838 1.66699 17.2421 2.42534 17.2421 3.35034Z"
                            stroke="#4A4A4A" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </i>
                <span class="sidebar-text">Filter</span>
            </button>
            <button class="border py-1 px-2 rounded-md flex flex-row items-center gap-1">
                <i>
                    <svg width="13" height="13" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M9.16699 13.3332L6.66699 15.8332M6.66699 15.8332L4.16699 13.3332M6.66699 15.8332V4.1665M10.8337 6.6665L13.3337 4.1665M13.3337 4.1665L15.8337 6.6665M13.3337 4.1665V15.8332"
                            stroke="#4A4A4A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>

                </i>
                <span class="sidebar-text">Sort</span>
            </button>
            <button class="border py-1 px-2 rounded-md flex flex-row items-center gap-1">
                <i>
                    <svg width="13" height="13" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M13.6997 7.4165C16.6997 7.67484 17.9247 9.2165 17.9247 12.5915V12.6998C17.9247 16.4248 16.4331 17.9165 12.7081 17.9165H7.28307C3.55807 17.9165 2.06641 16.4248 2.06641 12.6998V12.5915C2.06641 9.2415 3.27474 7.69984 6.22474 7.42484"
                            stroke="#4A4A4A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M10 1.6665V12.3998" stroke="#4A4A4A" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M12.7913 10.542L9.99967 13.3337L7.20801 10.542" stroke="#4A4A4A" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </i>
                <span class="sidebar-text">Export</span>
            </button>
        </div>
    </div>

    <table class="w-full border-collapse text-left mt-4">
        <thead>
            <tr class="border-b navbar-text text-gray-500">
                <th class="p-2 w-44">Invoice No#</th>
                <th class="p-2">Issue Date</th>
                <th class="p-2">Due Date</th>
                <th class="p-2">Amount</th>
                <th class="p-2">Devices</th>
                <th class="p-2">Status</th>
                <th class="p-2">Action</th>
            </tr>
        </thead>

        <tbody class="font-inter">
            <tr class="hover:bg-gray-100">
                <td class="px-2 py-3.5 flex justify-start items-center gap-2 col-1">
                    <span class="navbar-text font-bold mt-0.5">#4332</span>
                </td>
                <td class="px-2 py-3.5 w-40">
                    <div class="flex flex-row justify-start items-center gap-1">
                        <i>
                            <svg width="13" height="13" viewBox="0 0 20 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M3.33301 6.6665H16.6663M3.33301 6.6665V14C3.33301 14.9334 3.33301 15.3999 3.51466 15.7564C3.67445 16.07 3.92924 16.3252 4.24284 16.485C4.59901 16.6665 5.0655 16.6665 5.9971 16.6665H14.0022C14.9338 16.6665 15.3997 16.6665 15.7558 16.485C16.0694 16.3252 16.3251 16.07 16.4849 15.7564C16.6663 15.4002 16.6663 14.9344 16.6663 14.0028V6.6665M3.33301 6.6665V6C3.33301 5.06658 3.33301 4.59952 3.51466 4.243C3.67445 3.9294 3.92924 3.67462 4.24284 3.51483C4.59936 3.33317 5.06642 3.33317 5.99984 3.33317H6.66634M16.6663 6.6665V5.99726C16.6663 5.06567 16.6663 4.59917 16.4849 4.243C16.3251 3.9294 16.0694 3.67462 15.7558 3.51483C15.3993 3.33317 14.9333 3.33317 13.9998 3.33317H13.333M13.333 1.6665V3.33317M13.333 3.33317H6.66634M6.66634 1.6665V3.33317"
                                    stroke="#4A4A4A" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </i>
                        <span class="navbar-text">5th March, 2025</span>
                    </div>
                </td>
                <td class="px-2 py-3.5 w-40">
                    <div class="flex flex-row justify-start items-center gap-1">
                        <i>
                            <svg width="13" height="13" viewBox="0 0 20 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M3.33301 6.6665H16.6663M3.33301 6.6665V14C3.33301 14.9334 3.33301 15.3999 3.51466 15.7564C3.67445 16.07 3.92924 16.3252 4.24284 16.485C4.59901 16.6665 5.0655 16.6665 5.9971 16.6665H14.0022C14.9338 16.6665 15.3997 16.6665 15.7558 16.485C16.0694 16.3252 16.3251 16.07 16.4849 15.7564C16.6663 15.4002 16.6663 14.9344 16.6663 14.0028V6.6665M3.33301 6.6665V6C3.33301 5.06658 3.33301 4.59952 3.51466 4.243C3.67445 3.9294 3.92924 3.67462 4.24284 3.51483C4.59936 3.33317 5.06642 3.33317 5.99984 3.33317H6.66634M16.6663 6.6665V5.99726C16.6663 5.06567 16.6663 4.59917 16.4849 4.243C16.3251 3.9294 16.0694 3.67462 15.7558 3.51483C15.3993 3.33317 14.9333 3.33317 13.9998 3.33317H13.333M13.333 1.6665V3.33317M13.333 3.33317H6.66634M6.66634 1.6665V3.33317"
                                    stroke="#4A4A4A" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </i>
                        <span class="navbar-text">13th April, 2025</span>
                    </div>
                </td>
                <td class="px-2 py-3.5">
                    <span class="navbar-text">$34</span>
                </td>
                <td class="px-2 py-3.5 w-40">
                    <span class="navbar-text">32</span>
                </td>
                <td class="w-12 px-2 py-3.5">
                    <div
                        class="flex flex-row justify-center items-center gap-1 border bg-green-50 border-green-200 rounded-full px-1 py-px">
                        <i>
                            <svg width="11" height="11" viewBox="0 0 16 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M4 8.00033L6.82843 10.8288L12.4847 5.17188" stroke="#1AD598" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </i>
                        <span class="status-text text-[#1AD598]">Paid</span>
                    </div>
                </td>
                <td class="px-2 py-3.5 w-40">
                    <div class="flex flex-row justify-start items-center gap-1">
                        <button (click)="navigateToInvoice()"
                            class="flex flex-row justify-center items-center gap-1 bg-transparent border status-text view-btn py-px px-1">
                            <i>
                                <svg width="12" height="12" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.32031 11.6802L11.8803 14.2402L14.4403 11.6802" stroke="#17181A"
                                        stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M11.8809 4.00024V14.1702" stroke="#17181A" stroke-width="1.5"
                                        stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M20 12.1804C20 16.6004 17 20.1804 12 20.1804C7 20.1804 4 16.6004 4 12.1804"
                                        stroke="#17181A" stroke-width="1.5" stroke-miterlimit="10"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </i>
                            <span>Invoice</span>
                        </button>
                    </div>
                </td>
            </tr>

            <tr class="hover:bg-gray-100">
                <td class="px-2 py-3.5 flex justify-start items-center gap-2 col-1">
                    <span class="navbar-text font-bold mt-0.5">#4333</span>
                </td>
                <td class="px-2 py-3.5 w-40">
                    <div class="flex flex-row justify-start items-center gap-1">
                        <i>
                            <svg width="13" height="13" viewBox="0 0 20 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M3.33301 6.6665H16.6663M3.33301 6.6665V14C3.33301 14.9334 3.33301 15.3999 3.51466 15.7564C3.67445 16.07 3.92924 16.3252 4.24284 16.485C4.59901 16.6665 5.0655 16.6665 5.9971 16.6665H14.0022C14.9338 16.6665 15.3997 16.6665 15.7558 16.485C16.0694 16.3252 16.3251 16.07 16.4849 15.7564C16.6663 15.4002 16.6663 14.9344 16.6663 14.0028V6.6665M3.33301 6.6665V6C3.33301 5.06658 3.33301 4.59952 3.51466 4.243C3.67445 3.9294 3.92924 3.67462 4.24284 3.51483C4.59936 3.33317 5.06642 3.33317 5.99984 3.33317H6.66634M16.6663 6.6665V5.99726C16.6663 5.06567 16.6663 4.59917 16.4849 4.243C16.3251 3.9294 16.0694 3.67462 15.7558 3.51483C15.3993 3.33317 14.9333 3.33317 13.9998 3.33317H13.333M13.333 1.6665V3.33317M13.333 3.33317H6.66634M6.66634 1.6665V3.33317"
                                    stroke="#4A4A4A" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </i>
                        <span class="navbar-text">15th March, 2025</span>
                    </div>
                </td>
                <td class="px-2 py-3.5 w-40">
                    <div class="flex flex-row justify-start items-center gap-1">
                        <i>
                            <svg width="13" height="13" viewBox="0 0 20 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M3.33301 6.6665H16.6663M3.33301 6.6665V14C3.33301 14.9334 3.33301 15.3999 3.51466 15.7564C3.67445 16.07 3.92924 16.3252 4.24284 16.485C4.59901 16.6665 5.0655 16.6665 5.9971 16.6665H14.0022C14.9338 16.6665 15.3997 16.6665 15.7558 16.485C16.0694 16.3252 16.3251 16.07 16.4849 15.7564C16.6663 15.4002 16.6663 14.9344 16.6663 14.0028V6.6665M3.33301 6.6665V6C3.33301 5.06658 3.33301 4.59952 3.51466 4.243C3.67445 3.9294 3.92924 3.67462 4.24284 3.51483C4.59936 3.33317 5.06642 3.33317 5.99984 3.33317H6.66634M16.6663 6.6665V5.99726C16.6663 5.06567 16.6663 4.59917 16.4849 4.243C16.3251 3.9294 16.0694 3.67462 15.7558 3.51483C15.3993 3.33317 14.9333 3.33317 13.9998 3.33317H13.333M13.333 1.6665V3.33317M13.333 3.33317H6.66634M6.66634 1.6665V3.33317"
                                    stroke="#4A4A4A" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </i>
                        <span class="navbar-text">29th May, 2025</span>
                    </div>
                </td>
                <td class="px-2 py-3.5">
                    <span class="navbar-text">$65</span>
                </td>
                <td class="px-2 py-3.5 w-40">
                    <span class="navbar-text">45</span>
                </td>
                <td class="w-12 px-2 py-3.5">
                    <div
                        class="flex flex-row justify-center items-center gap-1 border bg-red-50 border-red-200 rounded-full px-1 py-px">
                        <i>
                            <svg width="11" height="11" viewBox="0 0 16 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M12 12L8.00001 8.00001M8.00001 8.00001L4 4M8.00001 8.00001L12 4M8.00001 8.00001L4 12"
                                    stroke="#EA3A3D" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>

                        </i>
                        <span class="status-text text-[#EA3A3D]">Unpaid</span>
                    </div>
                </td>
                <td class="px-2 py-3.5 w-40">
                    <div class="flex flex-row justify-start items-center gap-2">
                        <button
                            class="flex flex-row justify-center items-center gap-1 bg-transparent border status-text view-btn py-px px-1">
                            <i>
                                <svg width="12" height="12" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.32031 11.6802L11.8803 14.2402L14.4403 11.6802" stroke="#17181A"
                                        stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M11.8809 4.00024V14.1702" stroke="#17181A" stroke-width="1.5"
                                        stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M20 12.1804C20 16.6004 17 20.1804 12 20.1804C7 20.1804 4 16.6004 4 12.1804"
                                        stroke="#17181A" stroke-width="1.5" stroke-miterlimit="10"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </i>
                            <span>Invoice</span>
                        </button>
                        <button
                            class="bg-[#525DF7] status-text view-btn py-0.5 px-1 text-gray-100 flex flex-row justify-center items-center gap-1">
                            <i>
                                <svg width="11" height="11" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <g id="icon=Arrow_Up_Right_Large">
                                        <path id="Vector"
                                            d="M18.3646 5.63623H11.2939M18.3646 5.63623L18.3643 12.7073M18.3646 5.63623L5.63672 18.3642"
                                            stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </g>
                                </svg>
                            </i>
                            <span>Pay Now</span>
                        </button>
                    </div>
                </td>
            </tr>

            <tr class="hover:bg-gray-100">
                <td class="px-2 py-3.5 flex justify-start items-center gap-2 col-1">
                    <span class="navbar-text font-bold mt-0.5">#4332</span>
                </td>
                <td class="px-2 py-3.5 w-40">
                    <div class="flex flex-row justify-start items-center gap-1">
                        <i>
                            <svg width="13" height="13" viewBox="0 0 20 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M3.33301 6.6665H16.6663M3.33301 6.6665V14C3.33301 14.9334 3.33301 15.3999 3.51466 15.7564C3.67445 16.07 3.92924 16.3252 4.24284 16.485C4.59901 16.6665 5.0655 16.6665 5.9971 16.6665H14.0022C14.9338 16.6665 15.3997 16.6665 15.7558 16.485C16.0694 16.3252 16.3251 16.07 16.4849 15.7564C16.6663 15.4002 16.6663 14.9344 16.6663 14.0028V6.6665M3.33301 6.6665V6C3.33301 5.06658 3.33301 4.59952 3.51466 4.243C3.67445 3.9294 3.92924 3.67462 4.24284 3.51483C4.59936 3.33317 5.06642 3.33317 5.99984 3.33317H6.66634M16.6663 6.6665V5.99726C16.6663 5.06567 16.6663 4.59917 16.4849 4.243C16.3251 3.9294 16.0694 3.67462 15.7558 3.51483C15.3993 3.33317 14.9333 3.33317 13.9998 3.33317H13.333M13.333 1.6665V3.33317M13.333 3.33317H6.66634M6.66634 1.6665V3.33317"
                                    stroke="#4A4A4A" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </i>
                        <span class="navbar-text">5th March, 2025</span>
                    </div>
                </td>
                <td class="px-2 py-3.5 w-40">
                    <div class="flex flex-row justify-start items-center gap-1">
                        <i>
                            <svg width="13" height="13" viewBox="0 0 20 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M3.33301 6.6665H16.6663M3.33301 6.6665V14C3.33301 14.9334 3.33301 15.3999 3.51466 15.7564C3.67445 16.07 3.92924 16.3252 4.24284 16.485C4.59901 16.6665 5.0655 16.6665 5.9971 16.6665H14.0022C14.9338 16.6665 15.3997 16.6665 15.7558 16.485C16.0694 16.3252 16.3251 16.07 16.4849 15.7564C16.6663 15.4002 16.6663 14.9344 16.6663 14.0028V6.6665M3.33301 6.6665V6C3.33301 5.06658 3.33301 4.59952 3.51466 4.243C3.67445 3.9294 3.92924 3.67462 4.24284 3.51483C4.59936 3.33317 5.06642 3.33317 5.99984 3.33317H6.66634M16.6663 6.6665V5.99726C16.6663 5.06567 16.6663 4.59917 16.4849 4.243C16.3251 3.9294 16.0694 3.67462 15.7558 3.51483C15.3993 3.33317 14.9333 3.33317 13.9998 3.33317H13.333M13.333 1.6665V3.33317M13.333 3.33317H6.66634M6.66634 1.6665V3.33317"
                                    stroke="#4A4A4A" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </i>
                        <span class="navbar-text">13th April, 2025</span>
                    </div>
                </td>
                <td class="px-2 py-3.5">
                    <span class="navbar-text">$34</span>
                </td>
                <td class="px-2 py-3.5 w-40">
                    <span class="navbar-text">32</span>
                </td>
                <td class="w-12 px-2 py-3.5">
                    <div
                        class="flex flex-row justify-center items-center gap-1 border bg-green-50 border-green-200 rounded-full px-1 py-px">
                        <i>
                            <svg width="11" height="11" viewBox="0 0 16 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M4 8.00033L6.82843 10.8288L12.4847 5.17188" stroke="#1AD598" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </i>
                        <span class="status-text text-[#1AD598]">Paid</span>
                    </div>
                </td>
                <td class="px-2 py-3.5 w-40">
                    <div class="flex flex-row justify-start items-center gap-1">
                        <button
                            class="flex flex-row justify-center items-center gap-1 bg-transparent border status-text view-btn py-px px-1">
                            <i>
                                <svg width="12" height="12" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.32031 11.6802L11.8803 14.2402L14.4403 11.6802" stroke="#17181A"
                                        stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M11.8809 4.00024V14.1702" stroke="#17181A" stroke-width="1.5"
                                        stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M20 12.1804C20 16.6004 17 20.1804 12 20.1804C7 20.1804 4 16.6004 4 12.1804"
                                        stroke="#17181A" stroke-width="1.5" stroke-miterlimit="10"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </i>
                            <span>Invoice</span>
                        </button>
                    </div>
                </td>
            </tr>

            <tr class="hover:bg-gray-100">
                <td class="px-2 py-3.5 flex justify-start items-center gap-2 col-1">
                    <span class="navbar-text font-bold mt-0.5">#4333</span>
                </td>
                <td class="px-2 py-3.5 w-40">
                    <div class="flex flex-row justify-start items-center gap-1">
                        <i>
                            <svg width="13" height="13" viewBox="0 0 20 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M3.33301 6.6665H16.6663M3.33301 6.6665V14C3.33301 14.9334 3.33301 15.3999 3.51466 15.7564C3.67445 16.07 3.92924 16.3252 4.24284 16.485C4.59901 16.6665 5.0655 16.6665 5.9971 16.6665H14.0022C14.9338 16.6665 15.3997 16.6665 15.7558 16.485C16.0694 16.3252 16.3251 16.07 16.4849 15.7564C16.6663 15.4002 16.6663 14.9344 16.6663 14.0028V6.6665M3.33301 6.6665V6C3.33301 5.06658 3.33301 4.59952 3.51466 4.243C3.67445 3.9294 3.92924 3.67462 4.24284 3.51483C4.59936 3.33317 5.06642 3.33317 5.99984 3.33317H6.66634M16.6663 6.6665V5.99726C16.6663 5.06567 16.6663 4.59917 16.4849 4.243C16.3251 3.9294 16.0694 3.67462 15.7558 3.51483C15.3993 3.33317 14.9333 3.33317 13.9998 3.33317H13.333M13.333 1.6665V3.33317M13.333 3.33317H6.66634M6.66634 1.6665V3.33317"
                                    stroke="#4A4A4A" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </i>
                        <span class="navbar-text">15th March, 2025</span>
                    </div>
                </td>
                <td class="px-2 py-3.5 w-40">
                    <div class="flex flex-row justify-start items-center gap-1">
                        <i>
                            <svg width="13" height="13" viewBox="0 0 20 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M3.33301 6.6665H16.6663M3.33301 6.6665V14C3.33301 14.9334 3.33301 15.3999 3.51466 15.7564C3.67445 16.07 3.92924 16.3252 4.24284 16.485C4.59901 16.6665 5.0655 16.6665 5.9971 16.6665H14.0022C14.9338 16.6665 15.3997 16.6665 15.7558 16.485C16.0694 16.3252 16.3251 16.07 16.4849 15.7564C16.6663 15.4002 16.6663 14.9344 16.6663 14.0028V6.6665M3.33301 6.6665V6C3.33301 5.06658 3.33301 4.59952 3.51466 4.243C3.67445 3.9294 3.92924 3.67462 4.24284 3.51483C4.59936 3.33317 5.06642 3.33317 5.99984 3.33317H6.66634M16.6663 6.6665V5.99726C16.6663 5.06567 16.6663 4.59917 16.4849 4.243C16.3251 3.9294 16.0694 3.67462 15.7558 3.51483C15.3993 3.33317 14.9333 3.33317 13.9998 3.33317H13.333M13.333 1.6665V3.33317M13.333 3.33317H6.66634M6.66634 1.6665V3.33317"
                                    stroke="#4A4A4A" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </i>
                        <span class="navbar-text">29th May, 2025</span>
                    </div>
                </td>
                <td class="px-2 py-3.5">
                    <span class="navbar-text">$65</span>
                </td>
                <td class="px-2 py-3.5 w-40">
                    <span class="navbar-text">45</span>
                </td>
                <td class="w-12 px-2 py-3.5">
                    <div
                        class="flex flex-row justify-center items-center gap-1 border bg-red-50 border-red-200 rounded-full px-1 py-px">
                        <i>
                            <svg width="11" height="11" viewBox="0 0 16 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M12 12L8.00001 8.00001M8.00001 8.00001L4 4M8.00001 8.00001L12 4M8.00001 8.00001L4 12"
                                    stroke="#EA3A3D" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>

                        </i>
                        <span class="status-text text-[#EA3A3D]">Unpaid</span>
                    </div>
                </td>
                <td class="px-2 py-3.5 w-40">
                    <div class="flex flex-row justify-start items-center gap-2">
                        <button
                            class="flex flex-row justify-center items-center gap-1 bg-transparent border status-text view-btn py-px px-1">
                            <i>
                                <svg width="12" height="12" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.32031 11.6802L11.8803 14.2402L14.4403 11.6802" stroke="#17181A"
                                        stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M11.8809 4.00024V14.1702" stroke="#17181A" stroke-width="1.5"
                                        stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M20 12.1804C20 16.6004 17 20.1804 12 20.1804C7 20.1804 4 16.6004 4 12.1804"
                                        stroke="#17181A" stroke-width="1.5" stroke-miterlimit="10"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </i>
                            <span>Invoice</span>
                        </button>
                        <button
                            class="bg-[#525DF7] status-text view-btn py-0.5 px-1 text-gray-100 flex flex-row justify-center items-center gap-1">
                            <i>
                                <svg width="11" height="11" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <g id="icon=Arrow_Up_Right_Large">
                                        <path id="Vector"
                                            d="M18.3646 5.63623H11.2939M18.3646 5.63623L18.3643 12.7073M18.3646 5.63623L5.63672 18.3642"
                                            stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </g>
                                </svg>
                            </i>
                            <span>Pay Now</span>
                        </button>
                    </div>
                </td>
            </tr>

            <tr class="hover:bg-gray-100">
                <td class="px-2 py-3.5 flex justify-start items-center gap-2 col-1">
                    <span class="navbar-text font-bold mt-0.5">#4332</span>
                </td>
                <td class="px-2 py-3.5 w-40">
                    <div class="flex flex-row justify-start items-center gap-1">
                        <i>
                            <svg width="13" height="13" viewBox="0 0 20 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M3.33301 6.6665H16.6663M3.33301 6.6665V14C3.33301 14.9334 3.33301 15.3999 3.51466 15.7564C3.67445 16.07 3.92924 16.3252 4.24284 16.485C4.59901 16.6665 5.0655 16.6665 5.9971 16.6665H14.0022C14.9338 16.6665 15.3997 16.6665 15.7558 16.485C16.0694 16.3252 16.3251 16.07 16.4849 15.7564C16.6663 15.4002 16.6663 14.9344 16.6663 14.0028V6.6665M3.33301 6.6665V6C3.33301 5.06658 3.33301 4.59952 3.51466 4.243C3.67445 3.9294 3.92924 3.67462 4.24284 3.51483C4.59936 3.33317 5.06642 3.33317 5.99984 3.33317H6.66634M16.6663 6.6665V5.99726C16.6663 5.06567 16.6663 4.59917 16.4849 4.243C16.3251 3.9294 16.0694 3.67462 15.7558 3.51483C15.3993 3.33317 14.9333 3.33317 13.9998 3.33317H13.333M13.333 1.6665V3.33317M13.333 3.33317H6.66634M6.66634 1.6665V3.33317"
                                    stroke="#4A4A4A" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </i>
                        <span class="navbar-text">5th March, 2025</span>
                    </div>
                </td>
                <td class="px-2 py-3.5 w-40">
                    <div class="flex flex-row justify-start items-center gap-1">
                        <i>
                            <svg width="13" height="13" viewBox="0 0 20 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M3.33301 6.6665H16.6663M3.33301 6.6665V14C3.33301 14.9334 3.33301 15.3999 3.51466 15.7564C3.67445 16.07 3.92924 16.3252 4.24284 16.485C4.59901 16.6665 5.0655 16.6665 5.9971 16.6665H14.0022C14.9338 16.6665 15.3997 16.6665 15.7558 16.485C16.0694 16.3252 16.3251 16.07 16.4849 15.7564C16.6663 15.4002 16.6663 14.9344 16.6663 14.0028V6.6665M3.33301 6.6665V6C3.33301 5.06658 3.33301 4.59952 3.51466 4.243C3.67445 3.9294 3.92924 3.67462 4.24284 3.51483C4.59936 3.33317 5.06642 3.33317 5.99984 3.33317H6.66634M16.6663 6.6665V5.99726C16.6663 5.06567 16.6663 4.59917 16.4849 4.243C16.3251 3.9294 16.0694 3.67462 15.7558 3.51483C15.3993 3.33317 14.9333 3.33317 13.9998 3.33317H13.333M13.333 1.6665V3.33317M13.333 3.33317H6.66634M6.66634 1.6665V3.33317"
                                    stroke="#4A4A4A" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </i>
                        <span class="navbar-text">13th April, 2025</span>
                    </div>
                </td>
                <td class="px-2 py-3.5">
                    <span class="navbar-text">$34</span>
                </td>
                <td class="px-2 py-3.5 w-40">
                    <span class="navbar-text">32</span>
                </td>
                <td class="w-12 px-2 py-3.5">
                    <div
                        class="flex flex-row justify-center items-center gap-1 border bg-green-50 border-green-200 rounded-full px-1 py-px">
                        <i>
                            <svg width="11" height="11" viewBox="0 0 16 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M4 8.00033L6.82843 10.8288L12.4847 5.17188" stroke="#1AD598" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </i>
                        <span class="status-text text-[#1AD598]">Paid</span>
                    </div>
                </td>
                <td class="px-2 py-3.5 w-40">
                    <div class="flex flex-row justify-start items-center gap-1">
                        <button
                            class="flex flex-row justify-center items-center gap-1 bg-transparent border status-text view-btn py-px px-1">
                            <i>
                                <svg width="12" height="12" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.32031 11.6802L11.8803 14.2402L14.4403 11.6802" stroke="#17181A"
                                        stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M11.8809 4.00024V14.1702" stroke="#17181A" stroke-width="1.5"
                                        stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M20 12.1804C20 16.6004 17 20.1804 12 20.1804C7 20.1804 4 16.6004 4 12.1804"
                                        stroke="#17181A" stroke-width="1.5" stroke-miterlimit="10"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </i>
                            <span>Invoice</span>
                        </button>
                    </div>
                </td>
            </tr>

            <tr class="hover:bg-gray-100">
                <td class="px-2 py-3.5 flex justify-start items-center gap-2 col-1">
                    <span class="navbar-text font-bold mt-0.5">#4333</span>
                </td>
                <td class="px-2 py-3.5 w-40">
                    <div class="flex flex-row justify-start items-center gap-1">
                        <i>
                            <svg width="13" height="13" viewBox="0 0 20 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M3.33301 6.6665H16.6663M3.33301 6.6665V14C3.33301 14.9334 3.33301 15.3999 3.51466 15.7564C3.67445 16.07 3.92924 16.3252 4.24284 16.485C4.59901 16.6665 5.0655 16.6665 5.9971 16.6665H14.0022C14.9338 16.6665 15.3997 16.6665 15.7558 16.485C16.0694 16.3252 16.3251 16.07 16.4849 15.7564C16.6663 15.4002 16.6663 14.9344 16.6663 14.0028V6.6665M3.33301 6.6665V6C3.33301 5.06658 3.33301 4.59952 3.51466 4.243C3.67445 3.9294 3.92924 3.67462 4.24284 3.51483C4.59936 3.33317 5.06642 3.33317 5.99984 3.33317H6.66634M16.6663 6.6665V5.99726C16.6663 5.06567 16.6663 4.59917 16.4849 4.243C16.3251 3.9294 16.0694 3.67462 15.7558 3.51483C15.3993 3.33317 14.9333 3.33317 13.9998 3.33317H13.333M13.333 1.6665V3.33317M13.333 3.33317H6.66634M6.66634 1.6665V3.33317"
                                    stroke="#4A4A4A" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </i>
                        <span class="navbar-text">15th March, 2025</span>
                    </div>
                </td>
                <td class="px-2 py-3.5 w-40">
                    <div class="flex flex-row justify-start items-center gap-1">
                        <i>
                            <svg width="13" height="13" viewBox="0 0 20 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M3.33301 6.6665H16.6663M3.33301 6.6665V14C3.33301 14.9334 3.33301 15.3999 3.51466 15.7564C3.67445 16.07 3.92924 16.3252 4.24284 16.485C4.59901 16.6665 5.0655 16.6665 5.9971 16.6665H14.0022C14.9338 16.6665 15.3997 16.6665 15.7558 16.485C16.0694 16.3252 16.3251 16.07 16.4849 15.7564C16.6663 15.4002 16.6663 14.9344 16.6663 14.0028V6.6665M3.33301 6.6665V6C3.33301 5.06658 3.33301 4.59952 3.51466 4.243C3.67445 3.9294 3.92924 3.67462 4.24284 3.51483C4.59936 3.33317 5.06642 3.33317 5.99984 3.33317H6.66634M16.6663 6.6665V5.99726C16.6663 5.06567 16.6663 4.59917 16.4849 4.243C16.3251 3.9294 16.0694 3.67462 15.7558 3.51483C15.3993 3.33317 14.9333 3.33317 13.9998 3.33317H13.333M13.333 1.6665V3.33317M13.333 3.33317H6.66634M6.66634 1.6665V3.33317"
                                    stroke="#4A4A4A" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </i>
                        <span class="navbar-text">29th May, 2025</span>
                    </div>
                </td>
                <td class="px-2 py-3.5">
                    <span class="navbar-text">$65</span>
                </td>
                <td class="px-2 py-3.5 w-40">
                    <span class="navbar-text">45</span>
                </td>
                <td class="w-12 px-2 py-3.5">
                    <div
                        class="flex flex-row justify-center items-center gap-1 border bg-red-50 border-red-200 rounded-full px-1 py-px">
                        <i>
                            <svg width="11" height="11" viewBox="0 0 16 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M12 12L8.00001 8.00001M8.00001 8.00001L4 4M8.00001 8.00001L12 4M8.00001 8.00001L4 12"
                                    stroke="#EA3A3D" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>

                        </i>
                        <span class="status-text text-[#EA3A3D]">Unpaid</span>
                    </div>
                </td>
                <td class="px-2 py-3.5 w-40">
                    <div class="flex flex-row justify-start items-center gap-2">
                        <button
                            class="flex flex-row justify-center items-center gap-1 bg-transparent border status-text view-btn py-px px-1">
                            <i>
                                <svg width="12" height="12" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.32031 11.6802L11.8803 14.2402L14.4403 11.6802" stroke="#17181A"
                                        stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M11.8809 4.00024V14.1702" stroke="#17181A" stroke-width="1.5"
                                        stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M20 12.1804C20 16.6004 17 20.1804 12 20.1804C7 20.1804 4 16.6004 4 12.1804"
                                        stroke="#17181A" stroke-width="1.5" stroke-miterlimit="10"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </i>
                            <span>Invoice</span>
                        </button>
                        <button
                            class="bg-[#525DF7] status-text view-btn py-0.5 px-1 text-gray-100 flex flex-row justify-center items-center gap-1">
                            <i>
                                <svg width="11" height="11" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <g id="icon=Arrow_Up_Right_Large">
                                        <path id="Vector"
                                            d="M18.3646 5.63623H11.2939M18.3646 5.63623L18.3643 12.7073M18.3646 5.63623L5.63672 18.3642"
                                            stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </g>
                                </svg>
                            </i>
                            <span>Pay Now</span>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>