<div class="flex flex-row justify-start items-center gap-2 ml-1">
    <a href="dashboard/help/faq/">
        <i>
            <svg width="14" height="16" viewBox="0 0 14 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.5 1.49976L2 11.9998L12.5 22.4998" stroke="#1A1A1A" stroke-width="3" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
        </i>
    </a>
    <h1 class="font-extrabold text-2xl">Article Details</h1>
</div>

<div class="grid grid-cols-2 gap-4 mt-5" style="grid-template-columns: 2.55fr 9.45fr;">
    <div class="flex flex-col gap-3 justify-start items-start bg-white rounded p-3 h-44">
        <div class="flex flex-row items-center justify-start w-full gap-1.5">
            <img src="assets/icons/settings.png" alt="" class="w-3.5 h-auto">
            <h5 class="card-text font-bold text-gray-500">Account Settings
                <span class="font-inter">(5)</span>
            </h5>
        </div>
        <div class="flex flex-col items-start justify-center gap-2 card-text text-gray-500">
            <div class="flex flex-row justify-center items-center gap-2">
                <img src="assets/icons/dot.png" alt="" class="w-2 h-auto">
                <a href="/dashboard/help/faq/article">How Secure Is My Password?</a>
            </div>
            <div class="flex flex-row justify-center items-center gap-2">
                <img src="assets/icons/dot.png" alt="" class="w-2 h-auto">
                <p>Can I Change My Username?</p>
            </div>
            <div class="flex flex-row justify-center items-center gap-2">
                <img src="assets/icons/dot.png" alt="" class="w-2 h-auto">
                <p>Where Can I Upload My Avatar?</p>
            </div>
            <div class="flex flex-row justify-center items-center gap-2">
                <img src="assets/icons/dot.png" alt="" class="w-2 h-auto">
                <p>How Do I Change My Timezone?</p>
            </div>
            <div class="flex flex-row justify-center items-center gap-2">
                <img src="assets/icons/dot.png" alt="" class="w-2 h-auto">
                <p>How Do I Change My Password?</p>
            </div>
        </div>
    </div>

    <div class="bg-white flex flex-col justify-start items-start px-7 py-3 gap-1.5">
        <div class="flex flex-row justify-start items-center gap-1.5">
            <img src="assets/icons/mobile.png" alt="" class="w-5 h-4">
            <h5 class="header-text text-gray-500 font-bold">Why Was My Developer Application Rejected?</h5>
        </div>
        <p class="last-updated-text text-gray-300">Last updated on <span class="font-inter">10 Dec 2018</span></p>

        <p class="para-text text-gray-400 mt-2 leading-tight">It has been said that astronomy is a humbling and
            character-building experience. There is perhaps no better
            demonstration of the folly of human conceits than this distant image of our tiny world. To me, it
            underscores our responsibility to deal more kindly with one another, and to preserve and cherish the pale
            blue dot, the only home we’ve ever known. The Earth is a very small stage in a vast cosmic arena. Think of
            the rivers of blood spilled by all those generals and emperors so that, in glory and triumph, they could
            become the momentary masters of a fraction of a dot. Think of the endless cruelties visited by the
            inhabitants of one corner of this pixel on the scarcely distinguishable inhabitants of some other corner,
            how frequent their misunderstandings, how eager they are to kill one another, how fervent their hatreds.
        </p>

        <img src="assets/article-image.jpg" alt="" class="mt-2">

        <h5 class="para-text font-semibold text-gray-500 mt-3">Houston</h5>
        <p class="para-text text-gray-400 leading-tight">that may have seemed like a very long final phase. The
            autotargeting was taking us right into a … crater, with a large number of big boulders and rocks … and it
            required … flying manually over the rock field to find a reasonably good area.
        </p>
        <ul class="para-text text-gray-400 leading-tight list-disc ml-4 mt-7 mb-5">
            <li>I am a stranger. I come in peace. Take me to your leader and there will be a massive reward for you in eternity.</li>
            <li class="mt-5">It’s just mind-blowingly awesome. I apologize, and I wish I was more articulate, but it’s hard to be articulate when your mind’s blown—but in a very good way.</li>
            <li class="mt-3">A good rule for rocket experimenters to follow is this</li>
        </ul>
    </div>
</div>