.heading-p {
    font-size: 0.58rem;
}

.search-text {
    font-size: 0.57rem;
}

.card-text {
    font-size: 0.65rem;
}

.header-text{
    font-size: 0.74rem;
}

.last-updated-text {
    font-size: 0.6rem;
}

.para-text {
    font-size: 0.65rem;
}