<div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-4 mt-2">
    <div class="bg-white rounded-2xl p-4 w-full flex flex-row justify-start items-center gap-4">
        <div class="p-3 rounded-full bg-[#FFF5D9]">
            <img src="assets/icons/money.png" alt="" class="w-5 h-auto">
        </div>
        <div class="flex flex-col justify-center items-start">
            <p class="card-text">Total Maintainance Requests</p>
            <h5 class="font-semibold text-lg font-inter">12,333</h5>
        </div>
    </div>

    <div class="bg-white rounded-2xl p-4 w-full flex flex-row justify-start items-center gap-4">
        <div class="p-3 rounded-full bg-[#E7EDFF]">
            <img src="assets/icons/dollar-hand.png" alt="" class="w-5 h-auto">
        </div>
        <div class="flex flex-col justify-center items-start">
            <p class="card-text">Average Vehicle Downtime</p>
            <h5 class="font-semibold text-lg font-inter">2 Days 4 Hours</h5>
        </div>
    </div>

    <div class="bg-white rounded-2xl p-4 w-full flex flex-row justify-start items-center gap-4">
        <div class="p-3 rounded-full bg-[#FFE0EB]">
            <img src="assets/icons/driver-access.png" alt="" class="w-5 h-auto">
        </div>
        <div class="flex flex-col justify-center items-start">
            <p class="card-text">Maintainance Cost</p>
            <h5 class="font-semibold text-lg font-inter">$3,450</h5>
        </div>
    </div>
</div>

