<div class="flex flex-col gap-4 justify-center items-start w-full">
    <h5 class="text-xs font-bold">Dashcams</h5>

    <div class="grid grid-cols-3 gap-5 w-full">
        <div class="flex flex-row justify-start items-center bg-white rounded-2xl px-7 py-4 gap-2 w-full">
            <div class="bg-[#FFE0EB] rounded-full p-3.5">
                <img src="assets/icons/dashcams.png" alt="" class="w-5 h-auto">
            </div>
            <div class="flex flex-col justify-center items-start gap-1">
                <p class="card-text">Online</p>
                <h2 class="font-bold font-inter">234</h2>
            </div>
        </div>

        <div class="flex flex-row justify-start items-center bg-white rounded-2xl px-7 py-4 gap-2 w-full">
            <div class="bg-[#FFE0EB] rounded-full p-3.5">
                <img src="assets/icons/dashcams.png" alt="" class="w-5 h-auto">
            </div>
            <div class="flex flex-col justify-center items-start gap-1">
                <p class="card-text">Offline</p>
                <h2 class="font-bold font-inter">345</h2>
            </div>
        </div>

        <div class="flex flex-row justify-start items-center bg-white rounded-2xl px-7 py-4 gap-2 w-full">
            <div class="bg-[#FFE0EB] rounded-full p-3.5">
                <img src="assets/icons/dashcams.png" alt="" class="w-5 h-auto">
            </div>
            <div class="flex flex-col justify-center items-start gap-1">
                <p class="card-text">Malfunctioned</p>
                <h2 class="font-bold font-inter">345</h2>
            </div>
        </div>
    </div>
</div>