<div class="flex flex-row justify-start items-center gap-2 ml-1">
    <a href="dashboard/help/">
        <i>
            <svg width="14" height="16" viewBox="0 0 14 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.5 1.49976L2 11.9998L12.5 22.4998" stroke="#1A1A1A" stroke-width="3" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
        </i>
    </a>
    <h1 class="font-extrabold text-2xl">FleetPoint</h1>
</div>

<div class="flex justify-start items-center ml-32 mt-2">
    <div class="flex flex-col justify-center items-center gap-5 p-2 w-9/12">
        <div class="w-full">
            <app-answer-questions-header></app-answer-questions-header>
        </div>

        <div class="cards grid grid-cols-3 gap-4 w-full">
            <div class="flex flex-col gap-3 justify-center items-start bg-white rounded p-3 w-full">
                <div class="flex flex-row items-center justify-start w-full gap-1.5">
                    <img src="assets/icons/settings.png" alt="" class="w-3.5 h-auto">
                    <h5 class="card-text font-bold text-gray-500">Account Settings 
                        <span class="font-inter">(5)</span>
                    </h5>
                </div>
                <div class="flex flex-col items-start justify-center gap-2 card-text text-gray-500">
                    <div class="flex flex-row justify-center items-center gap-2">
                        <img src="assets/icons/dot.png" alt="" class="w-2 h-auto">
                        <a href="/dashboard/help/faq/article">How Secure Is My Password?</a>
                    </div>
                    <div class="flex flex-row justify-center items-center gap-2">
                        <img src="assets/icons/dot.png" alt="" class="w-2 h-auto">
                        <p>Can I Change My Username?</p>
                    </div>
                    <div class="flex flex-row justify-center items-center gap-2">
                        <img src="assets/icons/dot.png" alt="" class="w-2 h-auto">
                        <p>Where Can I Upload My Avatar?</p>
                    </div>
                    <div class="flex flex-row justify-center items-center gap-2">
                        <img src="assets/icons/dot.png" alt="" class="w-2 h-auto">
                        <p>How Do I Change My Timezone?</p>
                    </div>
                    <div class="flex flex-row justify-center items-center gap-2">
                        <img src="assets/icons/dot.png" alt="" class="w-2 h-auto">
                        <p>How Do I Change My Password?</p>
                    </div>
                </div>
            </div>

            <div class="flex flex-col gap-3 justify-center items-start bg-white rounded p-3 w-full">
                <div class="flex flex-row items-center justify-start w-full gap-1.5">
                    <img src="assets/icons/api-questions.png" alt="" class="w-3.5 h-auto">
                    <h5 class="card-text font-bold text-gray-500">Api Questions <span class="font-inter">(5)</span>
                    </h5>
                </div>
                <div class="flex flex-col items-start justify-center gap-2 card-text text-gray-500">
                    <div class="flex flex-row justify-center items-center gap-2">
                        <img src="assets/icons/dot.png" alt="" class="w-2 h-auto">
                        <p>What Technologies Are Used?</p>
                    </div>
                    <div class="flex flex-row justify-center items-center gap-2">
                        <img src="assets/icons/dot.png" alt="" class="w-2 h-auto">
                        <p>What Are The API Limits?</p>
                    </div>
                    <div class="flex flex-row justify-center items-center gap-2">
                        <img src="assets/icons/dot.png" alt="" class="w-2 h-auto">
                        <p>Why Was My Application Rejected?</p>
                    </div>
                    <div class="flex flex-row justify-center items-center gap-2">
                        <img src="assets/icons/dot.png" alt="" class="w-2 h-auto">
                        <p>Where can I find the documentation?</p>
                    </div>
                    <div class="flex flex-row justify-center items-center gap-2">
                        <img src="assets/icons/dot.png" alt="" class="w-2 h-auto">
                        <p>How Do I Get An API Key?</p>
                    </div>
                </div>
            </div>

            <div class="flex flex-col gap-3 justify-center items-start bg-white rounded p-3 w-full">
                <div class="flex flex-row items-center justify-start w-full gap-1.5">
                    <img src="assets/icons/billing.png" alt="" class="w-3.5 h-auto">
                    <h5 class="card-text font-bold text-gray-500">Billing <span class="font-inter">(5)</span>
                    </h5>
                </div>
                <div class="flex flex-col items-start justify-center gap-2 card-text text-gray-500">
                    <div class="flex flex-row justify-center items-center gap-2">
                        <img src="assets/icons/dot.png" alt="" class="w-2 h-auto">
                        <p>Can I Contact A Salés Rep?</p>
                    </div>
                    <div class="flex flex-row justify-center items-center gap-2">
                        <img src="assets/icons/dot.png" alt="" class="w-2 h-auto">
                        <p>Do I Need To Pay VAT?</p>
                    </div>
                    <div class="flex flex-row justify-center items-center gap-2">
                        <img src="assets/icons/dot.png" alt="" class="w-2 h-auto">
                        <p>Can I Get A Refund?</p>
                    </div>
                    <div class="flex flex-row justify-center items-center gap-2">
                        <img src="assets/icons/dot.png" alt="" class="w-2 h-auto">
                        <p>Difference Annual & Monthly Billing</p>
                    </div>
                    <div class="flex flex-row justify-center items-center gap-2">
                        <img src="assets/icons/dot.png" alt="" class="w-2 h-auto">
                        <p>What Happens If The Price Increases?</p>
                    </div>
                </div>
            </div>

            <div class="flex flex-col gap-3 justify-center items-start bg-white rounded p-3 w-full">
                <div class="flex flex-row items-center justify-start w-full gap-1.5">
                    <img src="assets/icons/copyright.png" alt="" class="w-3.5 h-auto">
                    <h5 class="card-text font-bold text-gray-500">Copyright & Legal <span class="font-inter">(5)</span>
                    </h5>
                </div>
                <div class="flex flex-col items-start justify-center gap-2 card-text text-gray-500">
                    <div class="flex flex-row justify-center items-center gap-2">
                        <img src="assets/icons/dot.png" alt="" class="w-2 h-auto">
                        <p>How Do I Contact Legal?</p>
                    </div>
                    <div class="flex flex-row justify-center items-center gap-2">
                        <img src="assets/icons/dot.png" alt="" class="w-2 h-auto">
                        <p>Where Are Your Offices Located?</p>
                    </div>
                    <div class="flex flex-row justify-center items-center gap-2">
                        <img src="assets/icons/dot.png" alt="" class="w-2 h-auto">
                        <p>Who Owns The Copyright On Text?</p>
                    </div>
                    <div class="flex flex-row justify-center items-center gap-2">
                        <img src="assets/icons/dot.png" alt="" class="w-2 h-auto">
                        <p>Our Content Policy</p>
                    </div>
                    <div class="flex flex-row justify-center items-center gap-2">
                        <img src="assets/icons/dot.png" alt="" class="w-2 h-auto">
                        <p>How Do I File A DMCA?</p>
                    </div>
                </div>
            </div>

            <div class="flex flex-col gap-3 justify-center items-start bg-white rounded p-3 w-full">
                <div class="flex flex-row items-center justify-start w-full gap-1.5">
                    <img src="assets/icons/mobile.png" alt="" class="w-3.5 h-auto">
                    <h5 class="card-text font-bold text-gray-500">Mobile Apps <span class="font-inter">(5)</span>
                    </h5>
                </div>
                <div class="flex flex-col items-start justify-center gap-2 card-text text-gray-500">
                    <div class="flex flex-row justify-center items-center gap-2">
                        <img src="assets/icons/dot.png" alt="" class="w-2 h-auto">
                        <p>How Do I Download The Andoird App?</p>
                    </div>
                    <div class="flex flex-row justify-center items-center gap-2">
                        <img src="assets/icons/dot.png" alt="" class="w-2 h-auto">
                        <p>How To Download Our iPad App</p>
                    </div>
                    <div class="flex flex-row justify-center items-center gap-2">
                        <img src="assets/icons/dot.png" alt="" class="w-2 h-auto">
                        <p>Where Can I Upload My Avatar?</p>
                    </div>
                    <div class="flex flex-row justify-center items-center gap-2">
                        <img src="assets/icons/dot.png" alt="" class="w-2 h-auto">
                        <p>Can I Use My Android Phone?</p>
                    </div>
                    <div class="flex flex-row justify-center items-center gap-2">
                        <img src="assets/icons/dot.png" alt="" class="w-2 h-auto">
                        <p>Is There An iOS App?</p>
                    </div>
                </div>
            </div>

            <div class="flex flex-col gap-3 justify-start items-start bg-white rounded p-3 w-full">
                <div class="flex flex-row items-center justify-start w-full gap-1.5">
                    <img src="assets/icons/knowhow.png" alt="" class="w-3.5 h-auto">
                    <h5 class="card-text font-bold text-gray-500">Using KnowHow <span class="font-inter">(4)</span>
                    </h5>
                </div>
                <div class="flex flex-col items-start justify-center gap-2 card-text text-gray-500">
                    <div class="flex flex-row justify-center items-center gap-2">
                        <img src="assets/icons/dot.png" alt="" class="w-2 h-auto">
                        <p>Customization</p>
                    </div>
                    <div class="flex flex-row justify-center items-center gap-2">
                        <img src="assets/icons/dot.png" alt="" class="w-2 h-auto">
                        <p>Upgrading</p>
                    </div>
                    <div class="flex flex-row justify-center items-center gap-2">
                        <img src="assets/icons/dot.png" alt="" class="w-2 h-auto">
                        <p>Customizing Your Theme</p>
                    </div>
                    <div class="flex flex-row justify-center items-center gap-2">
                        <img src="assets/icons/dot.png" alt="" class="w-2 h-auto">
                        <p>Upgrading Your Theme</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>