<!-- Routes -->

<div class="flex flex-col justify-center items-center w-full gap-5 p-0.5">
    <div class="flex flex-row justify-between items-center w-full">
        <div class="flex flex-row justify-center items-center gap-2">
            <h1 class="text-2xl font-extrabold">Routes</h1>
            <div class="border rounded-md flex flex-row justify-center items-center bg-white">
                <button (click)="navigateToDashboard()"
                    class="border-r py-1.5 px-2.5 btn-text text-gray-700 flex flex-row justify-center items-center gap-1">
                    <img src="assets/icons/icon_interface.png" alt="" class="w-3 h-auto">
                    <span>Dashboard</span>
                </button>
                <button (click)="navigateToRoutes()"
                    class="border-r py-1.5 pr-2.5 btn-text text-gray-700 flex flex-row justify-center items-center gap-1">
                    <img src="assets/icons/arrow.png" alt="" class="w-3 h-auto">
                    <span>Routes</span>
                </button>
            </div>
        </div>

        <div class="flex flex-row justify-center items-center gap-2">
            <div class="flex flex-row justify-between items-center border input-text rounded-md px-2 py-1.5">
                <input type="text" name="search" id="search"
                    class="placeholder:text-gray-300 bg-transparent w-full focus:outline-none"
                    placeholder="Search Route">
                <img src="assets/icons/search.png" alt="" class="w-2.5 h-auto">
            </div>
            <button
                class="flex flex-row justify-center items-center gap-1 bg-white border-0 btn2-text text-gray-600 px-2 py-1.5 rounded-md">
                <img src="assets/icons/add-icon-2-black.png" alt="" class="w-2.5 h-auto">
                <span class="font-semibold mt-px">Filters</span>
            </button>
            <button 
                class="flex flex-row justify-center items-center gap-1 bg-transparent bg-white border-0 text-gray-600 btn2-text px-2 py-1.5 rounded-md">
                <img src="assets/icons/add-icon-2-black.png" alt="" class="w-2.5 h-auto">
                <span class="font-semibold mt-px">Manage Locations</span>
            </button>
            <button
                class="flex flex-row justify-center items-center gap-1 bg-[#1A1A1A] border-0 btn2-text text-white px-2 py-1.5 rounded-md">
                <img src="assets/icons/add-icon-2-white.png" alt="" class="w-2.5 h-auto">
                <span class="mt-px">New Route</span>
            </button>
        </div>
    </div>

    <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 gap-3 w-full">
        <!-- Route Card -->
        <div class="route-card flex flex-col justify-center items-center w-full bg-white p-4 rounded-xl shadow gap-4">
            <div class="flex flex-row justify-between items-center w-full">
                <div class="flex flex-col justify-center items-start gap-1.5">
                    <h5 class="text-xs font-bold">KHI-ISB</h5>
                    <div class="btn-text border px-1 py-px rounded">Traffic Aware</div>
                </div>
                <div class="flex flex-row justify-center items-center gap-2">
                    <p class="btn-text">ETA: <span class="font-inter">2h 55m</span></p>
                    <div
                        class="flex flex-row justify-center items-center gap-1 input-text px-1 py-0.5 rounded text-gray-100 bg-[#1AD598]">
                        <img src="assets/icons/tick.png" alt="" class="w-2.5 h-auto">
                        <span class="mt-px">Dispatched</span>
                    </div>
                </div>
            </div>

            <div class="flex flex-row justify-between items-center w-full relative">
                <div class="flex flex-col items-start justify-center gap-1 z-10">
                    <div class="flex items-center justify-center p-1.5 rounded-full bg-[#1A1A1A]">
                        <img src="assets/icons/location-white.png" alt="" class="w-3.5 h-auto">
                    </div>
                    <p class="card-text-2 font-bold">Karachi, PK</p>
                </div>

                <div class="flex flex-col items-center flex-grow absolute w-full">
                    <div class="relative w-full flex items-center">

                        <div class="border-t-2 border-dashed border-gray-300 absolute w-full"></div>

                        <div class="bg-[#12AFF0] btn-text px-1 py-px font-inter text-gray-100 rounded relative mx-auto">
                            10 Stops
                        </div>

                    </div>

                    <div class="mt-1 font-inter btn-text text-gray-600">1,412 KM</div>
                </div>

                <div class="flex flex-col items-end justify-center gap-1 z-10">
                    <div class="flex items-center justify-center p-1.5 rounded-full bg-[#1A1A1A]">
                        <img src="assets/icons/location-white.png" alt="" class="w-3.5 h-auto">
                    </div>
                    <p class="card-text-2 font-bold">Islamabad, PK</p>
                </div>
            </div>

            <div class="flex justify-end items-center w-full">
                <select name="actions" id="actions"
                    class="text-xs bg-gradient-to-b from-[#6300D6] to-[#8938E7] rounded-md cursor-pointer text-gray-200 py-1 px-1.5 
                    focus:outline-none">
                    <option value="" disabled selected class="text-gray-400">ACTIONS</option>
                    <option value="edit" class="text-black bg-white">Edit</option>
                    <option value="delete" class="text-red-500 bg-white">Delete</option>
                    <option value="view" class="text-green-500 bg-white">View</option>
                </select>
            </div>
        </div>
        <div class="route-card flex flex-col justify-center items-center w-full bg-white p-4 rounded-xl shadow gap-4">
            <div class="flex flex-row justify-between items-center w-full">
                <div class="flex flex-col justify-center items-start gap-1.5">
                    <h5 class="text-xs font-bold">KHI-ISB</h5>
                    <div class="btn-text border px-1 py-px rounded">Traffic Aware</div>
                </div>
                <div class="flex flex-row justify-center items-center gap-2">
                    <p class="btn-text">ETA: <span class="font-inter">2h 55m</span></p>
                    <div
                        class="flex flex-row justify-center items-center gap-1 input-text px-1 py-0.5 rounded text-gray-100 bg-[#1AD598]">
                        <img src="assets/icons/tick.png" alt="" class="w-2.5 h-auto">
                        <span class="mt-px">Dispatched</span>
                    </div>
                </div>
            </div>

            <div class="flex flex-row justify-between items-center w-full relative">
                <div class="flex flex-col items-start justify-center gap-1 z-10">
                    <div class="flex items-center justify-center p-1.5 rounded-full bg-[#1A1A1A]">
                        <img src="assets/icons/location-white.png" alt="" class="w-3.5 h-auto">
                    </div>
                    <p class="card-text-2 font-bold">Karachi, PK</p>
                </div>

                <div class="flex flex-col items-center flex-grow absolute w-full">
                    <div class="relative w-full flex items-center">

                        <div class="border-t-2 border-dashed border-gray-300 absolute w-full"></div>

                        <div class="bg-[#12AFF0] btn-text px-1 py-px font-inter text-gray-100 rounded relative mx-auto">
                            10 Stops
                        </div>

                    </div>

                    <div class="mt-1 font-inter btn-text text-gray-600">1,412 KM</div>
                </div>

                <div class="flex flex-col items-end justify-center gap-1 z-10">
                    <div class="flex items-center justify-center p-1.5 rounded-full bg-[#1A1A1A]">
                        <img src="assets/icons/location-white.png" alt="" class="w-3.5 h-auto">
                    </div>
                    <p class="card-text-2 font-bold">Islamabad, PK</p>
                </div>
            </div>

            <div class="flex justify-end items-center w-full">
                <select name="actions" id="actions"
                    class="text-xs bg-gradient-to-b from-[#6300D6] to-[#8938E7] rounded-md cursor-pointer text-gray-200 py-1 px-1.5 
                    focus:outline-none">
                    <option value="" disabled selected class="text-gray-400">ACTIONS</option>
                    <option value="edit" class="text-black bg-white">Edit</option>
                    <option value="delete" class="text-red-500 bg-white">Delete</option>
                    <option value="view" class="text-green-500 bg-white">View</option>
                </select>
            </div>
        </div>
        <div class="route-card flex flex-col justify-center items-center w-full bg-white p-4 rounded-xl shadow gap-4">
            <div class="flex flex-row justify-between items-center w-full">
                <div class="flex flex-col justify-center items-start gap-1.5">
                    <h5 class="text-xs font-bold">KHI-ISB</h5>
                    <div class="btn-text border px-1 py-px rounded">Traffic Aware</div>
                </div>
                <div class="flex flex-row justify-center items-center gap-2">
                    <p class="btn-text">ETA: <span class="font-inter">2h 55m</span></p>
                    <div
                        class="flex flex-row justify-center items-center gap-1 input-text px-1 py-0.5 rounded text-gray-100 bg-[#1AD598]">
                        <img src="assets/icons/tick.png" alt="" class="w-2.5 h-auto">
                        <span class="mt-px">Dispatched</span>
                    </div>
                </div>
            </div>

            <div class="flex flex-row justify-between items-center w-full relative">
                <div class="flex flex-col items-start justify-center gap-1 z-10">
                    <div class="flex items-center justify-center p-1.5 rounded-full bg-[#1A1A1A]">
                        <img src="assets/icons/location-white.png" alt="" class="w-3.5 h-auto">
                    </div>
                    <p class="card-text-2 font-bold">Karachi, PK</p>
                </div>

                <div class="flex flex-col items-center flex-grow absolute w-full">
                    <div class="relative w-full flex items-center">

                        <div class="border-t-2 border-dashed border-gray-300 absolute w-full"></div>

                        <div class="bg-[#12AFF0] btn-text px-1 py-px font-inter text-gray-100 rounded relative mx-auto">
                            10 Stops
                        </div>

                    </div>

                    <div class="mt-1 font-inter btn-text text-gray-600">1,412 KM</div>
                </div>

                <div class="flex flex-col items-end justify-center gap-1 z-10">
                    <div class="flex items-center justify-center p-1.5 rounded-full bg-[#1A1A1A]">
                        <img src="assets/icons/location-white.png" alt="" class="w-3.5 h-auto">
                    </div>
                    <p class="card-text-2 font-bold">Islamabad, PK</p>
                </div>
            </div>

            <div class="flex justify-end items-center w-full">
                <select name="actions" id="actions"
                    class="text-xs bg-gradient-to-b from-[#6300D6] to-[#8938E7] rounded-md cursor-pointer text-gray-200 py-1 px-1.5 
                    focus:outline-none">
                    <option value="" disabled selected class="text-gray-400">ACTIONS</option>
                    <option value="edit" class="text-black bg-white">Edit</option>
                    <option value="delete" class="text-red-500 bg-white">Delete</option>
                    <option value="view" class="text-green-500 bg-white">View</option>
                </select>
            </div>
        </div>
        <div class="route-card flex flex-col justify-center items-center w-full bg-white p-4 rounded-xl shadow gap-4">
            <div class="flex flex-row justify-between items-center w-full">
                <div class="flex flex-col justify-center items-start gap-1.5">
                    <h5 class="text-xs font-bold">KHI-ISB</h5>
                    <div class="btn-text border px-1 py-px rounded">Traffic Aware</div>
                </div>
                <div class="flex flex-row justify-center items-center gap-2">
                    <p class="btn-text">ETA: <span class="font-inter">2h 55m</span></p>
                    <div
                        class="flex flex-row justify-center items-center gap-1 input-text px-1 py-0.5 rounded text-gray-100 bg-[#1AD598]">
                        <img src="assets/icons/tick.png" alt="" class="w-2.5 h-auto">
                        <span class="mt-px">Dispatched</span>
                    </div>
                </div>
            </div>

            <div class="flex flex-row justify-between items-center w-full relative">
                <div class="flex flex-col items-start justify-center gap-1 z-10">
                    <div class="flex items-center justify-center p-1.5 rounded-full bg-[#1A1A1A]">
                        <img src="assets/icons/location-white.png" alt="" class="w-3.5 h-auto">
                    </div>
                    <p class="card-text-2 font-bold">Karachi, PK</p>
                </div>

                <div class="flex flex-col items-center flex-grow absolute w-full">
                    <div class="relative w-full flex items-center">

                        <div class="border-t-2 border-dashed border-gray-300 absolute w-full"></div>

                        <div class="bg-[#12AFF0] btn-text px-1 py-px font-inter text-gray-100 rounded relative mx-auto">
                            10 Stops
                        </div>

                    </div>

                    <div class="mt-1 font-inter btn-text text-gray-600">1,412 KM</div>
                </div>

                <div class="flex flex-col items-end justify-center gap-1 z-10">
                    <div class="flex items-center justify-center p-1.5 rounded-full bg-[#1A1A1A]">
                        <img src="assets/icons/location-white.png" alt="" class="w-3.5 h-auto">
                    </div>
                    <p class="card-text-2 font-bold">Islamabad, PK</p>
                </div>
            </div>

            <div class="flex justify-end items-center w-full">
                <select name="actions" id="actions"
                    class="text-xs bg-gradient-to-b from-[#6300D6] to-[#8938E7] rounded-md cursor-pointer text-gray-200 py-1 px-1.5 
                    focus:outline-none">
                    <option value="" disabled selected class="text-gray-400">ACTIONS</option>
                    <option value="edit" class="text-black bg-white">Edit</option>
                    <option value="delete" class="text-red-500 bg-white">Delete</option>
                    <option value="view" class="text-green-500 bg-white">View</option>
                </select>
            </div>
        </div>
        <div class="route-card flex flex-col justify-center items-center w-full bg-white p-4 rounded-xl shadow gap-4">
            <div class="flex flex-row justify-between items-center w-full">
                <div class="flex flex-col justify-center items-start gap-1.5">
                    <h5 class="text-xs font-bold">KHI-ISB</h5>
                    <div class="btn-text border px-1 py-px rounded">Traffic Aware</div>
                </div>
                <div class="flex flex-row justify-center items-center gap-2">
                    <p class="btn-text">ETA: <span class="font-inter">2h 55m</span></p>
                    <div
                        class="flex flex-row justify-center items-center gap-1 input-text px-1 py-0.5 rounded text-gray-100 bg-[#1AD598]">
                        <img src="assets/icons/tick.png" alt="" class="w-2.5 h-auto">
                        <span class="mt-px">Dispatched</span>
                    </div>
                </div>
            </div>

            <div class="flex flex-row justify-between items-center w-full relative">
                <div class="flex flex-col items-start justify-center gap-1 z-10">
                    <div class="flex items-center justify-center p-1.5 rounded-full bg-[#1A1A1A]">
                        <img src="assets/icons/location-white.png" alt="" class="w-3.5 h-auto">
                    </div>
                    <p class="card-text-2 font-bold">Karachi, PK</p>
                </div>

                <div class="flex flex-col items-center absolute w-full">
                    <div class="relative w-full flex items-center">

                        <div class="border-t-2 border-dashed border-gray-300 absolute w-full"></div>

                        <div class="bg-[#12AFF0] btn-text px-1 py-px font-inter text-gray-100 rounded relative mx-auto">
                            10 Stops
                        </div>

                    </div>

                    <div class="mt-1 font-inter btn-text text-gray-600">1,412 KM</div>
                </div>

                <div class="flex flex-col items-end justify-center gap-1 z-10">
                    <div class="flex items-center justify-center p-1.5 rounded-full bg-[#1A1A1A]">
                        <img src="assets/icons/location-white.png" alt="" class="w-3.5 h-auto">
                    </div>
                    <p class="card-text-2 font-bold">Islamabad, PK</p>
                </div>
            </div>

            <div class="flex justify-end items-center w-full">
                <select name="actions" id="actions"
                    class="text-xs bg-gradient-to-b from-[#6300D6] to-[#8938E7] rounded-md cursor-pointer text-gray-200 py-1 px-1.5 
                    focus:outline-none">
                    <option value="" disabled selected class="text-gray-400">ACTIONS</option>
                    <option value="edit" class="text-black bg-white">Edit</option>
                    <option value="delete" class="text-red-500 bg-white">Delete</option>
                    <option value="view" class="text-green-500 bg-white">View</option>
                </select>
            </div>
        </div>
        

        
    </div>
</div>