<!-- Buy Section -->
<div class="buy flex flex-col justify-center items-center mt-5">
    <div class="flex flex-col justify-start gap-4">
        <div class="flex flex-col items-start gap-2">
            <h1 class="text-xl font-bold">Step-by-step guide</h1>
            <p class="text-xs text-gray-600">Here is your step by step guide to out IoTility System</p>
        </div>
    
        <div class="pricingTable flex flex-wrap py-10 px-12 gap-16 rounded-md bg-[#FCFCFC] font-inter items-stretch w-full md:px-8 md:gap-12 lg:px-12 lg:gap-16">
            <div class="track flex flex-col gap-5">
                <div class="flex flex-row items-center gap-3">
                    <div class="bg-[#B1E5FC] py-3 px-1.5 rounded-sm"></div>
                    <h4 class="text-sm font-bold">Track</h4>
                </div>
                <p class="description-text text-gray-500 font-semibold">Track your fleet</p>
    
                <div class="bg-[#EFEFEF] w-full h-px"></div>
    
                <div class="flex flex-row justify-between items-center gap-20">
                    <div class="flex flex-row justify-center items-center gap-4">
                        <h1 class="text-4xl font-bold">$12</h1>
                        <p class="features-text text-gray-500">/vehicle/month</p>
                    </div>
                    <div>
                        <i>
                            <svg width="15" height="15" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M10 0C4.47715 0 0 4.47715 0 10C0 15.5228 4.47715 20 10 20C15.5228 20 20 15.5228 20 10C20 4.47715 15.5228 0 10 0ZM8 9C8 8.44771 8.44771 8 9 8H10C10.5523 8 11 8.44771 11 9V14C11 14.5523 10.5523 15 10 15C9.44771 15 9 14.5523 9 14V10C8.44771 10 8 9.55229 8 9ZM10 5C9.44771 5 9 5.44772 9 6C9 6.55228 9.44771 7 10 7C10.5523 7 11 6.55228 11 6C11 5.44772 10.5523 5 10 5Z" fill="#6F767E"/>
                            </svg>    
                        </i>
                    </div>
                </div>
    
                <div class="bg-[#EFEFEF] w-full h-px"></div>
    
                <div class="features flex flex-col justify-between gap-10">
                    <div class="flex flex-col items-start gap-3.5">
                        <div class="flex flex-row gap-4 justify-center items-center">
                            <i>
                                <svg width="14" height="14" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 12L7.29412 17L19 1" stroke="#6F767E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg> 
                            </i> <p class="features-text font-semibold">Feature 1</p>
                        </div>
                        <div class="flex flex-row gap-4 justify-center items-center">
                            <i>
                                <svg width="14" height="14" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 12L7.29412 17L19 1" stroke="#6F767E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg> 
                            </i> <p class="features-text font-semibold">Feature 1</p>
                        </div>
                        <div class="flex flex-row gap-4 justify-center items-center">
                            <i>
                                <svg width="14" height="14" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 12L7.29412 17L19 1" stroke="#6F767E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg> 
                            </i> <p class="features-text font-semibold">Feature 1</p>
                        </div>
                        <div class="flex flex-row gap-4 justify-center items-center">
                            <i>
                                <svg width="14" height="14" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 12L7.29412 17L19 1" stroke="#6F767E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg> 
                            </i> <p class="features-text font-semibold">Feature 1</p>
                        </div>  
                        
                    </div>

                    <div>
                        <button class="text-xs border w-full font-semibold py-2 rounded-lg">Contact Support</button>
                    </div>
                </div>
            </div>

            <div class="bg-[#EFEFEF] w-px"></div>
    
            <div class="track flex flex-col gap-5">
                <div class="flex flex-row items-center gap-3">
                    <div class="bg-[#B1E5FC] py-3 px-1.5 rounded-sm"></div>
                    <h4 class="text-sm font-bold">Track and Monitor</h4>
                    <div class="bg-[#B5E4CA] py-1.5 px-2 rounded-md flex justify-center items-center">
                        <h5 class="recommended-text font-extrabold">Recommended</h5>
                    </div>
                </div>

                <p class="description-text text-gray-500 font-semibold">Track your fleet along with compliance, speed, etc</p>
    
                <div class="bg-[#EFEFEF] w-full h-px"></div>
    
                <div class="flex flex-row justify-between items-center gap-20">
                    <div class="flex flex-row justify-center items-center gap-4">
                        <h1 class="text-4xl font-bold">$25</h1>
                        <p class="features-text text-gray-500">/vehicle/month</p>
                    </div>
                    <div>
                        <i>
                            <svg width="15" height="15" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M10 0C4.47715 0 0 4.47715 0 10C0 15.5228 4.47715 20 10 20C15.5228 20 20 15.5228 20 10C20 4.47715 15.5228 0 10 0ZM8 9C8 8.44771 8.44771 8 9 8H10C10.5523 8 11 8.44771 11 9V14C11 14.5523 10.5523 15 10 15C9.44771 15 9 14.5523 9 14V10C8.44771 10 8 9.55229 8 9ZM10 5C9.44771 5 9 5.44772 9 6C9 6.55228 9.44771 7 10 7C10.5523 7 11 6.55228 11 6C11 5.44772 10.5523 5 10 5Z" fill="#6F767E"/>
                            </svg>    
                        </i>
                    </div>
                </div>
    
                <div class="bg-[#EFEFEF] w-full h-px"></div>
    
                <div class=" features flex flex-col justify-between gap-10">
                    <div class="flex flex-col items-start gap-3.5">
                        <div class="flex flex-row gap-4 justify-center items-center">
                            <i>
                                <svg width="14" height="14" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 12L7.29412 17L19 1" stroke="#6F767E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg> 
                            </i> <p class="features-text font-semibold">Feature 1</p>
                        </div>
                        <div class="flex flex-row gap-4 justify-center items-center">
                            <i>
                                <svg width="14" height="14" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 12L7.29412 17L19 1" stroke="#6F767E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg> 
                            </i> <p class="features-text font-semibold">Feature 1</p>
                        </div>
                        <div class="flex flex-row gap-4 justify-center items-center">
                            <i>
                                <svg width="14" height="14" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 12L7.29412 17L19 1" stroke="#6F767E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg> 
                            </i> <p class="features-text font-semibold">Feature 1</p>
                        </div>
                        <div class="flex flex-row gap-4 justify-center items-center">
                            <i>
                                <svg width="14" height="14" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 12L7.29412 17L19 1" stroke="#6F767E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg> 
                            </i> <p class="features-text font-semibold">Feature 1</p>
                        </div>
                        <div class="flex flex-row gap-4 justify-center items-center">
                            <i>
                                <svg width="14" height="14" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 12L7.29412 17L19 1" stroke="#6F767E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg> 
                            </i> <p class="features-text font-semibold">Feature 1</p>
                        </div>
                        <div class="flex flex-row gap-4 justify-center items-center">
                            <i>
                                <svg width="14" height="14" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 12L7.29412 17L19 1" stroke="#6F767E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg> 
                            </i> <p class="features-text font-semibold">Feature 1</p>
                        </div>
                        <div class="flex flex-row gap-4 justify-center items-center">
                            <i>
                                <svg width="14" height="14" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 12L7.29412 17L19 1" stroke="#6F767E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg> 
                            </i> <p class="features-text font-semibold">Feature 1</p>
                        </div>
                        <div class="flex flex-row gap-4 justify-center items-center">
                            <i>
                                <svg width="14" height="14" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 12L7.29412 17L19 1" stroke="#6F767E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg> 
                            </i> <p class="features-text font-semibold">Feature 1</p>
                        </div>     
                    </div>

                    <div>
                        <button class="text-xs border w-full font-semibold py-2 rounded-lg text-white bg-[#2A85FF]">Contact Support</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>