<!-- Measures Settings -->
<div class="flex flex-col gap-2 w-full">
    <div class="flex flex-col gap-1">
        <h2 class="font-bold">Measures</h2>
        <p class="heading-p text-gray-600">You can update your measures here.</p>
    </div>

    <div class="flex flex-col gap-2.5 w-full">
        <div class="flex flex-row justify-between items-center mt-1.5">
            <h5 class="account-settings font-bold w-10">Speed</h5>
            <select class="border ml-44 border-gray-200 rounded-md px-1.5 py-1.5 w-3/4 input-text text-gray-800 font-semibold">
                <option value="kph" selected>Kilometers/Hour</option>
                <option value="mph">Miles/Hour</option>
            </select>
        </div>

        <div class="h-px w-full bg-gray-300"></div>

        <div class="flex flex-row justify-between items-center mt-1.5">
            <h5 class="account-settings font-bold w-10">Distance</h5>
            <select class="border ml-44 border-gray-200 rounded-md px-1.5 py-1.5 w-3/4 input-text text-gray-800 font-semibold">
                <option value="k" selected>Kilometers</option>
                <option value="m">Miles</option>
            </select>
        </div>

        <div class="h-px w-full bg-gray-300"></div>

        <div class="flex flex-row justify-between items-center mt-1.5">
            <h5 class="account-settings font-bold w-10">Currency</h5>
            <select class="border ml-44 border-gray-200 rounded-md px-1.5 py-1.5 w-3/4 input-text text-gray-800 font-semibold">
                <option value="uk" selected>UK - Pounds</option>
                <option value="pk">Pakistani - Rupees</option>
            </select>
        </div>
    </div>
</div>