.background {
    background-image: url('../../assets/backgrounds/ellipse2.png');
    background-size: cover;
}

.sidebar-text {
    font-size: 0.52rem;
}

.sidebar {
    width: 5.5rem;
}

.navbar-text {
    font-size: 0.6rem;
}

.toogle-text {
    font-size: 0.68rem;
}

.card-text {
    font-size: 0.54rem;
}

.btn {
    height: 1.5rem;
}

.icon-container {
    background-color: transparent; 
}

.active-icon .icon-container {
    background-color: #ffffff; 
}

.active-icon svg path {
    fill: #256cdf;
}

