
.sidebar-text {
    font-size: 0.52rem;
}

.sidebar {
    width: 6rem;
}

.navbar-text {
    font-size: 0.6rem;
}

.toogle-text {
    font-size: 0.68rem;
}

.card-text {
    font-size: 0.54rem;
}

.btn {
    height: 1.5rem;
}

.narration {
    width: 27rem;
}

.col-1 {
    width: 9.5rem;
}

.status-text {
    font-size: 0.48rem;
}

.view-btn {
    border-radius: 3px;
}

.btn-text {
    font-size: 0.6rem;
}

.btn2-text {
    font-size: 0.61rem;
}

.input-text {
    font-size: 0.5rem;
}

.card-text {
    font-size: 0.52rem;
}

.card-text-2 {
    font-size: 0.65rem;
}

.btn3-text {
    font-size: 0.65rem;
}