<!-- Fleetpoint Sidebar -->
<div>
    <div class="dashboards">
        <a href="dashboard/fleetpoint/dashboards"
            class="flex flex-row py-2 px-2 rounded-lg bg-gradient-to-r from-[#000000] to-[#525DF7] gap-1.5 items-center w-full">
            <div>
                <img src="assets/fleetpoint-dashboard/dashboards.png" alt="" class="w-3 h-auto">
            </div>
            <div>
                <h5 class="text-gray-300 dashboard-text">Dashboards</h5>
            </div>
        </a>
    </div>
    <div class="dashcams">
        <a href="dashboard/fleetpoint/dashcams" class="flex flex-row py-2 px-2 rounded-lg gap-1.5 items-center w-full">
            <div>
                <img src="assets/fleetpoint-dashboard/dashcams.png" alt="" class="w-3 h-auto">
            </div>
            <div>
                <h5 class="text-gray-900 dashboard-text">Dashcams</h5>
            </div>
        </a>
    </div>
</div>

<div class="fleetManagement">
    <div class="px-2 py-2">
        <h5 class="dashboard-heading-text font-bold">Fleet Management</h5>
    </div>

    <div class="fleets">
        <a href="dashboard/fleetpoint/fleets" class="flex flex-row py-2 px-2 rounded-lg gap-1.5 items-center w-full">
            <div>
                <img src="assets/fleetpoint-dashboard/fleets.png" alt="" class="w-3 h-auto">
            </div>
            <div>
                <h5 class="text-gray-900 dashboard-text">Fleets</h5>
            </div>
        </a>
    </div>
    <div class="drivers">
        <a href="dashboard/fleetpoint/drivers" class="flex flex-row py-2 px-2 rounded-lg gap-1.5 items-center w-full">
            <div>
                <img src="assets/fleetpoint-dashboard/drivers.png" alt="" class="w-3 h-auto">
            </div>
            <div>
                <h5 class="text-gray-900 dashboard-text">Drivers</h5>
            </div>
        </a>
    </div>

    <div class="vehicles">
        <a href="dashboard/fleetpoint/vehicles" class="flex flex-row py-2 px-2 rounded-lg gap-1.5 items-center w-full">
            <div>
                <img src="assets/fleetpoint-dashboard/vehicles.png" alt="" class="w-3 h-auto">
            </div>
            <div>
                <h5 class="text-gray-900 dashboard-text">Vehicles</h5>
            </div>
        </a>
    </div>
</div>

<div class="operations">
    <div class="px-2 py-2">
        <h5 class="dashboard-heading-text font-bold">Operations</h5>
    </div>

    <div class="routes">
        <a href="dashboard/fleetpoint/routes" class="flex flex-row py-2 px-2 rounded-lg gap-1.5 items-center w-full">
            <div>
                <img src="assets/fleetpoint-dashboard/routes.png" alt="" class="w-3 h-auto">
            </div>
            <div>
                <h5 class="text-gray-900 dashboard-text">Routes</h5>
            </div>
        </a>
    </div>
    <div class="jobs">
        <a href="dashboard/fleetpoint/jobs" class="flex flex-row py-2 px-2 rounded-lg gap-1.5 items-center w-full">
            <div>
                <img src="assets/fleetpoint-dashboard/jobs.png" alt="" class="w-3 h-auto">
            </div>
            <div>
                <h5 class="text-gray-900 dashboard-text">Jobs</h5>
            </div>
        </a>
    </div>

    <div class="maintainance">
        <a href="dashboard/fleetpoint/maintainance" class="flex flex-row py-2 px-2 rounded-lg gap-1.5 items-center w-full">
            <div>
                <img src="assets/fleetpoint-dashboard/maintainance.png" alt="" class="w-3 h-auto">
            </div>
            <div>
                <h5 class="text-gray-900 dashboard-text">Maintainance</h5>
            </div>
        </a>
    </div>

    <div class="reports">
        <a href="dashboard/fleetpoint/reports" class="flex flex-row py-2 px-2 rounded-lg gap-1.5 items-center w-full">
            <div>
                <img src="assets/fleetpoint-dashboard/reports.png" alt="" class="w-3 h-auto">
            </div>
            <div>
                <h5 class="text-gray-900 dashboard-text">Reports</h5>
            </div>
        </a>
    </div>

    <div class="fuelTracking">
        <a href="dashboard/fleetpoint/fuel-tracking" class="flex flex-row py-2 px-2 rounded-lg gap-1.5 items-center w-full">
            <div>
                <img src="assets/fleetpoint-dashboard/fuel-tracking.png" alt="" class="w-3 h-auto">
            </div>
            <div>
                <h5 class="text-gray-900 dashboard-text">Fuel Tracking</h5>
            </div>
        </a>
    </div>
</div>