<!-- Fleetpoint Sidebar -->
<div>
    <div class="dashboards">
        <a routerLink="/dashboard/fleetpoint/dashboards"  routerLinkActive="dashboards-active text-gray-300 bg-gradient-to-r from-[#000000] to-[#525DF7]" 
            class="flex flex-row py-2 px-2 rounded-lg gap-1.5 items-center w-full">
            <div>
                <img src="assets/fleetpoint-dashboard/dashboards.png" alt="" class="dashboard-icon w-3 h-auto active-icon" style="filter: brightness(0.4) saturate(100%) invert(0);">
            </div>
            <div>
                <h5 class="dashboard-text">Dashboards</h5>
            </div>
        </a>
    </div>
    <div class="dashcams">
        <a routerLink="/dashboard/fleetpoint/dashcams" routerLinkActive="active-link text-gray-300 bg-gradient-to-r from-[#000000] to-[#525DF7]" 
        class="flex flex-row py-2 px-2 rounded-lg gap-1.5 items-center w-full">
            <div>
                <img src="assets/fleetpoint-dashboard/dashcams.png" alt="" class="icon w-3 h-auto">
            </div>
            <div>
                <h5 class="dashboard-text">Dashcams</h5>
            </div>
        </a>
    </div>
</div>

<div class="fleetManagement">
    <div class="px-2 py-2">
        <h5 class="dashboard-heading-text font-bold">Fleet Management</h5>
    </div>

    <div class="fleets">
        <a routerLink="/dashboard/fleetpoint/fleets" routerLinkActive="active-link text-gray-300 bg-gradient-to-r from-[#000000] to-[#525DF7]"
        class="flex flex-row py-2 px-2 rounded-lg gap-1.5 items-center w-full">
            <div>
                <img src="assets/fleetpoint-dashboard/fleets.png" alt="" class="icon w-3 h-auto">
            </div>
            <div>
                <h5 class="dashboard-text">Fleets</h5>
            </div>
        </a>
    </div>
    <div class="drivers">
        <a routerLink="/dashboard/fleetpoint/drivers" routerLinkActive="active-link text-gray-300 bg-gradient-to-r from-[#000000] to-[#525DF7]"
         class="flex flex-row py-2 px-2 rounded-lg gap-1.5 items-center w-full">
            <div>
                <img src="assets/fleetpoint-dashboard/drivers.png" alt="" class="icon w-3 h-auto">
            </div>
            <div>
                <h5 class="dashboard-text">Drivers</h5>
            </div>
        </a>
    </div>

    <div class="vehicles">
        <a routerLink="/dashboard/fleetpoint/vehicles" routerLinkActive="active-link text-gray-300 bg-gradient-to-r from-[#000000] to-[#525DF7]"
         class="flex flex-row py-2 px-2 rounded-lg gap-1.5 items-center w-full">
            <div>
                <img src="assets/fleetpoint-dashboard/vehicles.png" alt="" class="icon w-3 h-auto">
            </div>
            <div>
                <h5 class="dashboard-text">Vehicles</h5>
            </div>
        </a>
    </div>
</div>

<div class="operations">
    <div class="px-2 py-2">
        <h5 class="dashboard-heading-text font-bold">Operations</h5>
    </div>

    <div class="routes">
        <a routerLink="/dashboard/fleetpoint/routes" routerLinkActive="active-link text-gray-300 bg-gradient-to-r from-[#000000] to-[#525DF7]"
         class="flex flex-row py-2 px-2 rounded-lg gap-1.5 items-center w-full">
            <div>
                <img src="assets/fleetpoint-dashboard/routes.png" alt="" class="icon w-3 h-auto">
            </div>
            <div>
                <h5 class="dashboard-text">Routes</h5>
            </div>
        </a>
    </div>
    <div class="jobs">
        <a routerLink="/dashboard/fleetpoint/jobs" routerLinkActive="active-link text-gray-300 bg-gradient-to-r from-[#000000] to-[#525DF7]"
         class="flex flex-row py-2 px-2 rounded-lg gap-1.5 items-center w-full">
            <div>
                <img src="assets/fleetpoint-dashboard/jobs.png" alt="" class="icon w-3 h-auto">
            </div>
            <div>
                <h5 class="dashboard-text">Jobs</h5>
            </div>
        </a>
    </div>

    <div class="maintainance">
        <a routerLink="/dashboard/fleetpoint/maintainance" routerLinkActive="active-link text-gray-300 bg-gradient-to-r from-[#000000] to-[#525DF7]"
         class="flex flex-row py-2 px-2 rounded-lg gap-1.5 items-center w-full">
            <div>
                <img src="assets/fleetpoint-dashboard/maintainance.png" alt="" class="icon w-3 h-auto">
            </div>
            <div>
                <h5 class="dashboard-text">Maintainance</h5>
            </div>
        </a>
    </div>

    <div class="reports">
        <a routerLink="/dashboard/fleetpoint/reports" routerLinkActive="active-link text-gray-300 bg-gradient-to-r from-[#000000] to-[#525DF7]"
         class="flex flex-row py-2 px-2 rounded-lg gap-1.5 items-center w-full">
            <div>
                <img src="assets/fleetpoint-dashboard/reports.png" alt="" class="icon w-3 h-auto">
            </div>
            <div>
                <h5 class="dashboard-text">Reports</h5>
            </div>
        </a>
    </div>

    <div class="fuelTracking">
        <a routerLink="/dashboard/fleetpoint/fuel-tracking" routerLinkActive="active-link text-gray-300 bg-gradient-to-r from-[#000000] to-[#525DF7]"
         class="flex flex-row py-2 px-2 rounded-lg gap-1.5 items-center w-full">
            <div>
                <img src="assets/fleetpoint-dashboard/fuel-tracking.png" alt="" class="icon w-3 h-auto">
            </div>
            <div>
                <h5 class="dashboard-text">Fuel Tracking</h5>
            </div>
        </a>
    </div>
</div>