.dashboard-text {
    font-size: 0.71rem;
}

.dashboard-heading-text {
    font-size: 0.5rem;
}

.icon {
    filter: none; 
}

.active-link .icon {
    filter: invert(1) brightness(2); 
}

a.dashboards-active .active-icon {
    filter: none !important;
}