 <!-- Thankyou -->
 <div class="thankYou flex flex-col items-start justify-center py-6 px-8 bg-white rounded-lg gap-2 mt-4">
    <h1 class="text-2xl font-extrabold">Thank you for purchasing FleetPoint</h1>
    <p class="text-xs font-bold text-gray-500">Here are your next steps</p>

    <div class="flex flex-row justify-center items-center gap-20 mt-6">
        <!-- Cards -->
        <div class="flex flex-col justify-center items-center gap-2.5">
            <div class="flex justify-center items-center rounded-full bg-[#F7F6FF] p-3 w-36 h-36">
                <img src="assets/fleetpoint-dashboard/thankyou/fleet.png" alt="" class="w-28 h-auto">
            </div>

            <h3 class="text-sm font-bold">Create a Fleet</h3>
            <p class="card-text w-32 text-center text-gray-600">Create a new Fleet to get started with fleet management</p>

            <div>
                <button class="bg-[#1A1A1A] card-text text-gray-200 py-1.5 px-2 rounded-md flex flex-row justify-center items-center gap-1.5">
                    <i>
                        <svg width="12" height="13" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.49967 5.33398V10.6673M4.83301 8.00065H10.1663M14.1663 8.00065C14.1663 11.6825 11.1816 14.6673 7.49967 14.6673C3.81778 14.6673 0.833008 11.6825 0.833008 8.00065C0.833008 4.31875 3.81778 1.33398 7.49967 1.33398C11.1816 1.33398 14.1663 4.31875 14.1663 8.00065Z" stroke="white" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </i>
                    <span class="mt-px">New Fleet</span>
                </button>
            </div>

        </div>

        <div class="flex flex-col justify-center items-center gap-2.5">
            <div class="flex justify-center items-center rounded-full bg-[#F7F6FF] p-3 w-36 h-36">
                <img src="assets/fleetpoint-dashboard/thankyou/vehicle.png" alt="" class="w-28 h-auto">
            </div>

            <h3 class="text-sm font-bold">Add a Vehicle</h3>
            <p class="card-text w-24 text-center text-gray-600">Add a Vehicle to your fleet</p>

            <div>
                <button class="bg-[#1A1A1A] card-text text-gray-200 py-1.5 px-2 rounded-md flex flex-row justify-center items-center gap-1.5">
                    <i>
                        <svg width="12" height="13" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.49967 5.33398V10.6673M4.83301 8.00065H10.1663M14.1663 8.00065C14.1663 11.6825 11.1816 14.6673 7.49967 14.6673C3.81778 14.6673 0.833008 11.6825 0.833008 8.00065C0.833008 4.31875 3.81778 1.33398 7.49967 1.33398C11.1816 1.33398 14.1663 4.31875 14.1663 8.00065Z" stroke="white" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </i>
                    <span class="mt-px">New Vehicle</span>
                </button>
            </div>

        </div>

        <div class="flex flex-col justify-center items-center gap-2.5">
            <div class="flex justify-center items-center rounded-full bg-[#F7F6FF] p-3 w-36 h-36">
                <img src="assets/fleetpoint-dashboard/thankyou/driver.png" alt="" class="w-28 h-auto">
            </div>

            <h3 class="text-sm font-bold">Add a Driver</h3>
            <p class="card-text w-32 text-center text-gray-600">Add a Driver and assign vehicle to driver</p>

            <div>
                <button class="bg-[#1A1A1A] card-text text-gray-200 py-1.5 px-2 rounded-md flex flex-row justify-center items-center gap-1.5">
                    <i>
                        <svg width="12" height="13" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.49967 5.33398V10.6673M4.83301 8.00065H10.1663M14.1663 8.00065C14.1663 11.6825 11.1816 14.6673 7.49967 14.6673C3.81778 14.6673 0.833008 11.6825 0.833008 8.00065C0.833008 4.31875 3.81778 1.33398 7.49967 1.33398C11.1816 1.33398 14.1663 4.31875 14.1663 8.00065Z" stroke="white" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </i>
                    <span class="mt-px">New Driver</span>
                </button>
            </div>

        </div>
        
    </div>
</div>
