 <!-- Settings Sidebar -->
 <div>
    <div class="notifications">
        <a routerLink="/dashboard/settings/notifications" routerLinkActive="text-gray-300 bg-gradient-to-r from-[#000000] to-[#525DF7]"
            class="flex py-2 px-2 rounded-lg gap-1.5 items-center w-full">
            <div>
                <h5 class="dashboard-text">Notifications</h5>
            </div>
        </a>
    </div>
    <div class="accountSettings">
        <a routerLink="/dashboard/settings/account-settings" routerLinkActive="text-gray-300 bg-gradient-to-r from-[#000000] to-[#525DF7]"
         class="flex py-2 px-2 rounded-lg gap-1.5 items-center w-full">
            <div>
                <h5 class="dashboard-text">Account Settings</h5>
            </div>
        </a>
    </div>
    <div class="SettingsAndPrivacy">
        <a routerLink="/dashboard/settings/security-and-privacy" routerLinkActive="text-gray-300 bg-gradient-to-r from-[#000000] to-[#525DF7]"
         class="flex py-2 px-2 rounded-lg gap-1.5 items-center w-full">
            <div>
                <h5 class="dashboard-text">Security And Privacy</h5>
            </div>
        </a>
    </div>
    <div class="measures">
        <a routerLink="/dashboard/settings/measures" routerLinkActive="text-gray-300 bg-gradient-to-r from-[#000000] to-[#525DF7]"
         class="flex py-2 px-2 rounded-lg gap-1.5 items-center w-full">
            <div>
                <h5 class="dashboard-text">Measures</h5>
            </div>
        </a>
    </div>
    <div class="countries">
        <a routerLink="/dashboard/settings/countries" routerLinkActive="text-gray-300 bg-gradient-to-r from-[#000000] to-[#525DF7]"
         class="flex py-2 px-2 rounded-lg gap-1.5 items-center w-full">
            <div>
                <h5 class="dashboard-text">Countries</h5>
            </div>
        </a>
    </div>
</div>