 <!-- Settings Sidebar -->
 <div>
    <div class="notifications">
        <a href="dashboard/settings/notifications"
            class="flex py-2 px-2 rounded-lg bg-gradient-to-r from-[#000000] to-[#525DF7] gap-1.5 items-center w-full">
            <div>
                <h5 class="text-gray-300 dashboard-text">Notifications</h5>
            </div>
        </a>
    </div>
    <div class="accountSettings">
        <a href="dashboard/settings/account-settings" class="flex py-2 px-2 rounded-lg gap-1.5 items-center w-full">
            <div>
                <h5 class="text-gray-900 dashboard-text">Account Settings</h5>
            </div>
        </a>
    </div>
    <div class="SettingsAndPrivacy">
        <a href="dashboard/settings/security-and-privacy" class="flex py-2 px-2 rounded-lg gap-1.5 items-center w-full">
            <div>
                <h5 class="text-gray-900 dashboard-text">Security And Privacy</h5>
            </div>
        </a>
    </div>
    <div class="measures">
        <a href="dashboard/settings/measures" class="flex py-2 px-2 rounded-lg gap-1.5 items-center w-full">
            <div>
                <h5 class="text-gray-900 dashboard-text">Measures</h5>
            </div>
        </a>
    </div>
    <div class="countries">
        <a href="dashboard/settings/countries" class="flex py-2 px-2 rounded-lg gap-1.5 items-center w-full">
            <div>
                <h5 class="text-gray-900 dashboard-text">Countries</h5>
            </div>
        </a>
    </div>
</div>