.ask-a-q {
    background-image: url('../../assets/backgrounds/banner.jpg');
    background-size: cover;
}

.heading-p {
    font-size: 0.58rem;
}

.search-text {
    font-size: 0.57rem;
}

.card-text {
    font-size: 0.65rem;
}