.background {
    background-image: url('../../assets/backgrounds/ellipse2.png');
    background-size: cover;
}

.sidebar-text {
    font-size: 0.52rem;
}

.sidebar {
    width: 5.4rem;
}

.navbar-text {
    font-size: 0.6rem;
}