<!-- Homepage -->
<div class="flex flex-col gap-3 justify-center items-start">

    <div class="flex flex-row justify-between items-center w-full">
        <h1 class="text-xs font-bold">Browse IoTility Addon Use Cases</h1>
        <button class="flex flex-row justify-center items-center navbar-text gap-2">
            <span class="mt-px">Browse All</span>
            <i>
                <svg width="5" height="11" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.938241 1.22364L6.69824 7L0.938241 12.7764" stroke="#4A4A4A" stroke-width="1.5"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </i>
        </button>
    </div>

    <!-- Cards -->
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 xl:grid-cols-5 gap-4 w-full">
        <div class="card flex flex-col justify-between py-2 px-2.5 rounded-lg gap-2 bg-white">
            <div>
                <div class="flex flex-row gap-2 items-center">
                    <h2 class="text-xs font-semibold">Fleetpoint</h2>
                    <div class="flex flex-row justify-center gap-0.5 items-center">
                        <i>
                            <svg width="10" height="11" viewBox="0 0 14 15" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M6.25043 0.98376L4.54142 4.60971L0.717772 5.1933C0.391758 5.27161 0.133518 5.5076 0.0386796 5.81396C-0.0561588 6.12044 0.0263878 6.45166 0.255872 6.68507L3.02175 9.50633L2.36769 13.4921C2.28796 13.8 2.40366 14.1238 2.66427 14.3217C2.92488 14.5198 3.28292 14.5559 3.58153 14.4144L6.99955 12.5339L10.4176 14.4144C10.7162 14.5551 11.0737 14.5185 11.334 14.3208C11.5943 14.1229 11.7103 13.7997 11.6314 13.4921L10.9774 9.50633L13.7432 6.68507C13.9734 6.45176 14.0563 6.12033 13.9613 5.81375C13.8664 5.50706 13.6078 5.27107 13.2813 5.1933L9.45768 4.60971L7.74867 0.98376C7.62711 0.691747 7.33007 0.5 6.99955 0.5C6.66902 0.5 6.37199 0.691747 6.25043 0.98376Z"
                                    fill="#FACA4A" />
                            </svg>
                        </i>
                        <p class="card-text">5.0</p>
                    </div>

                </div>
                <p class="card-text">Seamless fleet operations</p>
            </div>


            <div class="flex flex-row justify-between gap-14">
                <button (click)="navigateToFleetpoint()"
                    class="border py-1 pl-2 pr-1.5 mt-2.5 card-text w-auto btn rounded-md flex flex-row justify-center items-center">
                    <span class="mt-0.5">Access</span>
                    <i>
                        <svg width="17" height="17" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.33301 6.6665L11.6663 9.99984L8.33301 13.3332" stroke="#1A1A1A"
                                stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </i>
                </button>

                <div>
                    <img src="assets/card-icons/fleetpoint.svg" alt="fleetpoint" class="w-12 h-auto mr-1">
                </div>
            </div>
        </div>

        <div class="card flex flex-col justify-between py-2 px-2.5 rounded-lg gap-2 bg-white">
            <div>
                <div class="flex flex-row gap-2 items-center">
                    <h2 class="text-xs font-semibold">Assetrack</h2>
                    <div class="flex flex-row justify-center gap-0.5 items-center">
                        <i>
                            <svg width="10" height="11" viewBox="0 0 14 15" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M6.25043 0.98376L4.54142 4.60971L0.717772 5.1933C0.391758 5.27161 0.133518 5.5076 0.0386796 5.81396C-0.0561588 6.12044 0.0263878 6.45166 0.255872 6.68507L3.02175 9.50633L2.36769 13.4921C2.28796 13.8 2.40366 14.1238 2.66427 14.3217C2.92488 14.5198 3.28292 14.5559 3.58153 14.4144L6.99955 12.5339L10.4176 14.4144C10.7162 14.5551 11.0737 14.5185 11.334 14.3208C11.5943 14.1229 11.7103 13.7997 11.6314 13.4921L10.9774 9.50633L13.7432 6.68507C13.9734 6.45176 14.0563 6.12033 13.9613 5.81375C13.8664 5.50706 13.6078 5.27107 13.2813 5.1933L9.45768 4.60971L7.74867 0.98376C7.62711 0.691747 7.33007 0.5 6.99955 0.5C6.66902 0.5 6.37199 0.691747 6.25043 0.98376Z"
                                    fill="#FACA4A" />
                            </svg>
                        </i>
                        <p class="card-text">5.0</p>
                    </div>

                </div>
                <p class="card-text">Manage your assets smoothly</p>
            </div>


            <div class="flex flex-row justify-between gap-14">
                <button
                    class="border py-1 pl-2 pr-1.5 mt-2.5 card-text w-auto btn rounded-md flex flex-row justify-center items-center gap-1">
                    <i>
                        <svg width="12" height="12" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M5.875 9H12.125M9 5.875V12.125M16.5 9C16.5 13.1421 13.1421 16.5 9 16.5C4.85786 16.5 1.5 13.1421 1.5 9C1.5 4.85786 4.85786 1.5 9 1.5C13.1421 1.5 16.5 4.85786 16.5 9Z"
                                stroke="#4A4A4A" stroke-width="1.5" stroke-linecap="round" />
                        </svg>
                    </i>
                    <span class="mt-0.5">Add</span>
                </button>

                <div>
                    <img src="assets/card-icons/assetrack.png" alt="fleetpoint" class="w-12 h-auto mr-1">
                </div>
            </div>
        </div>

        <div class="card flex flex-col justify-between py-2 px-2.5 rounded-lg gap-2 bg-white">
            <div>
                <div class="flex flex-row gap-2 items-center">
                    <h2 class="text-xs font-semibold">Sustainex</h2>
                    <div class="flex flex-row justify-center gap-0.5 items-center">
                        <i>
                            <svg width="10" height="11" viewBox="0 0 14 15" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M6.25043 0.98376L4.54142 4.60971L0.717772 5.1933C0.391758 5.27161 0.133518 5.5076 0.0386796 5.81396C-0.0561588 6.12044 0.0263878 6.45166 0.255872 6.68507L3.02175 9.50633L2.36769 13.4921C2.28796 13.8 2.40366 14.1238 2.66427 14.3217C2.92488 14.5198 3.28292 14.5559 3.58153 14.4144L6.99955 12.5339L10.4176 14.4144C10.7162 14.5551 11.0737 14.5185 11.334 14.3208C11.5943 14.1229 11.7103 13.7997 11.6314 13.4921L10.9774 9.50633L13.7432 6.68507C13.9734 6.45176 14.0563 6.12033 13.9613 5.81375C13.8664 5.50706 13.6078 5.27107 13.2813 5.1933L9.45768 4.60971L7.74867 0.98376C7.62711 0.691747 7.33007 0.5 6.99955 0.5C6.66902 0.5 6.37199 0.691747 6.25043 0.98376Z"
                                    fill="#FACA4A" />
                            </svg>
                        </i>
                        <p class="card-text">5.0</p>
                    </div>

                </div>
                <p class="card-text">Contribute to a sustainable earth</p>
            </div>


            <div class="flex flex-row justify-between gap-14">
                <button
                    class="border py-1 pl-2 pr-1.5 mt-2.5 card-text w-auto btn rounded-md flex flex-row justify-center items-center gap-1">
                    <i>
                        <svg width="12" height="12" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M5.875 9H12.125M9 5.875V12.125M16.5 9C16.5 13.1421 13.1421 16.5 9 16.5C4.85786 16.5 1.5 13.1421 1.5 9C1.5 4.85786 4.85786 1.5 9 1.5C13.1421 1.5 16.5 4.85786 16.5 9Z"
                                stroke="#4A4A4A" stroke-width="1.5" stroke-linecap="round" />
                        </svg>
                    </i>
                    <span class="mt-0.5">Add</span>
                </button>

                <div>
                    <img src="assets/card-icons/sustainex.png" alt="fleetpoint" class="w-12 h-auto mr-1">
                </div>
            </div>
        </div>

        <div class="card flex flex-col justify-between py-2 px-2.5 rounded-lg gap-2 bg-white">
            <div>
                <div class="flex flex-row gap-2 items-center">
                    <h2 class="text-xs font-semibold">Twinscape</h2>
                    <div class="flex flex-row justify-center gap-0.5 items-center">
                        <i>
                            <svg width="10" height="11" viewBox="0 0 14 15" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M6.25043 0.98376L4.54142 4.60971L0.717772 5.1933C0.391758 5.27161 0.133518 5.5076 0.0386796 5.81396C-0.0561588 6.12044 0.0263878 6.45166 0.255872 6.68507L3.02175 9.50633L2.36769 13.4921C2.28796 13.8 2.40366 14.1238 2.66427 14.3217C2.92488 14.5198 3.28292 14.5559 3.58153 14.4144L6.99955 12.5339L10.4176 14.4144C10.7162 14.5551 11.0737 14.5185 11.334 14.3208C11.5943 14.1229 11.7103 13.7997 11.6314 13.4921L10.9774 9.50633L13.7432 6.68507C13.9734 6.45176 14.0563 6.12033 13.9613 5.81375C13.8664 5.50706 13.6078 5.27107 13.2813 5.1933L9.45768 4.60971L7.74867 0.98376C7.62711 0.691747 7.33007 0.5 6.99955 0.5C6.66902 0.5 6.37199 0.691747 6.25043 0.98376Z"
                                    fill="#FACA4A" />
                            </svg>
                        </i>
                        <p class="card-text">5.0</p>
                    </div>

                </div>
                <p class="card-text">Smarter solution for smarter buildings</p>
            </div>


            <div class="flex flex-row justify-between gap-14">
                <button
                    class="border py-1 pl-2 pr-1.5 mt-2.5 card-text w-auto btn rounded-md flex flex-row justify-center items-center gap-1">
                    <i>
                        <svg width="12" height="12" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M5.875 9H12.125M9 5.875V12.125M16.5 9C16.5 13.1421 13.1421 16.5 9 16.5C4.85786 16.5 1.5 13.1421 1.5 9C1.5 4.85786 4.85786 1.5 9 1.5C13.1421 1.5 16.5 4.85786 16.5 9Z"
                                stroke="#4A4A4A" stroke-width="1.5" stroke-linecap="round" />
                        </svg>
                    </i>
                    <span class="mt-0.5">Add</span>
                </button>

                <div>
                    <img src="assets/card-icons/twinscape.png" alt="fleetpoint" class="w-12 h-auto mr-1">
                </div>
            </div>
        </div>

        <div class="card flex flex-col justify-between py-2 px-2.5 rounded-lg gap-2 bg-white">
            <div>
                <div class="flex flex-row gap-2 items-center">
                    <h2 class="text-xs font-semibold">Wasterack</h2>
                    <div class="flex flex-row justify-center gap-0.5 items-center">
                        <i>
                            <svg width="10" height="11" viewBox="0 0 14 15" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M6.25043 0.98376L4.54142 4.60971L0.717772 5.1933C0.391758 5.27161 0.133518 5.5076 0.0386796 5.81396C-0.0561588 6.12044 0.0263878 6.45166 0.255872 6.68507L3.02175 9.50633L2.36769 13.4921C2.28796 13.8 2.40366 14.1238 2.66427 14.3217C2.92488 14.5198 3.28292 14.5559 3.58153 14.4144L6.99955 12.5339L10.4176 14.4144C10.7162 14.5551 11.0737 14.5185 11.334 14.3208C11.5943 14.1229 11.7103 13.7997 11.6314 13.4921L10.9774 9.50633L13.7432 6.68507C13.9734 6.45176 14.0563 6.12033 13.9613 5.81375C13.8664 5.50706 13.6078 5.27107 13.2813 5.1933L9.45768 4.60971L7.74867 0.98376C7.62711 0.691747 7.33007 0.5 6.99955 0.5C6.66902 0.5 6.37199 0.691747 6.25043 0.98376Z"
                                    fill="#FACA4A" />
                            </svg>
                        </i>
                        <p class="card-text">5.0</p>
                    </div>

                </div>
                <p class="card-text">Manage your waste, without mess</p>
            </div>


            <div class="flex flex-row justify-between gap-14">
                <button
                    class="border py-1 pl-2 pr-1.5 mt-2.5 card-text w-auto btn rounded-md flex flex-row justify-center items-center gap-1">
                    <i>
                        <svg width="12" height="12" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M5.875 9H12.125M9 5.875V12.125M16.5 9C16.5 13.1421 13.1421 16.5 9 16.5C4.85786 16.5 1.5 13.1421 1.5 9C1.5 4.85786 4.85786 1.5 9 1.5C13.1421 1.5 16.5 4.85786 16.5 9Z"
                                stroke="#4A4A4A" stroke-width="1.5" stroke-linecap="round" />
                        </svg>
                    </i>
                    <span class="mt-0.5">Add</span>

                </button>

                <div>
                    <img src="assets/card-icons/wasterack.png" alt="wasterack" class="w-12 h-auto mr-1">
                </div>
            </div>
        </div>
    </div>

    <!-- User Activities Table -->
    <div class="p-3 bg-white rounded-lg w-full border">
        <div class="flex flex-row justify-between items-center">
            <h2 class="text-xs font-bold">User Activities</h2>
            <div class="flex justify-center items-center gap-2">
                <div class="flex flex-row gap-1.5 items-center px-1.5 py-1.5 border bg-transparent rounded-md w-52">
                    <i>
                        <svg width="12" height="12" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12.7026 12.7032L16.4995 16.5001M14.625 8.0625C14.625 11.6869 11.6869 14.625 8.0625 14.625C4.43813 14.625 1.5 11.6869 1.5 8.0625C1.5 4.43813 4.43813 1.5 8.0625 1.5C11.6869 1.5 14.625 4.43813 14.625 8.0625Z"
                                stroke="#1A1A1A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </i>
                    <input type="text" placeholder="Search for activities"
                        class="bg-transparent border-0 sidebar-text w-full focus:outline-none focus:ring-0 focus:border-0 placeholder-gray-600 placeholder:font-semibold" />
                </div>
                <button class="border py-1 px-2 rounded-md flex flex-row items-center gap-1">
                    <i>
                        <svg width="13" height="13" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M18.0251 12.2918C18.0251 13.0335 17.8167 13.7335 17.4501 14.3335C16.7667 15.4835 15.5084 16.2502 14.0667 16.2502C12.6251 16.2502 11.3667 15.4752 10.6834 14.3335C10.3167 13.7418 10.1084 13.0335 10.1084 12.2918C10.1084 10.1085 11.8834 8.3335 14.0667 8.3335C16.2501 8.3335 18.0251 10.1085 18.0251 12.2918Z"
                                stroke="#4A4A4A" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M15.5501 12.2754H12.5918" stroke="#4A4A4A" stroke-width="1.5"
                                stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M14.0664 10.8335V13.7918" stroke="#4A4A4A" stroke-width="1.5"
                                stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                            <path
                                d="M17.2421 3.35034V5.20032C17.2421 5.87532 16.8171 6.717 16.4005 7.142L14.9338 8.43365C14.6588 8.36699 14.3671 8.33366 14.0671 8.33366C11.8838 8.33366 10.1088 10.1087 10.1088 12.292C10.1088 13.0337 10.3171 13.7337 10.6838 14.3337C10.9921 14.8503 11.4171 15.292 11.9338 15.6086V15.892C11.9338 16.4003 11.6005 17.0753 11.1755 17.3253L10.0005 18.0837C8.90879 18.7587 7.39212 18.0003 7.39212 16.6503V12.192C7.39212 11.6003 7.05046 10.842 6.71712 10.4253L3.51712 7.05863C3.10046 6.63363 2.75879 5.87534 2.75879 5.37534V3.43365C2.75879 2.42532 3.51712 1.66699 4.44212 1.66699H15.5588C16.4838 1.66699 17.2421 2.42534 17.2421 3.35034Z"
                                stroke="#4A4A4A" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                    </i>
                    <span class="sidebar-text">Filter</span>
                </button>
                <button class="border py-1 px-2 rounded-md flex flex-row items-center gap-1">
                    <i>
                        <svg width="13" height="13" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M9.16699 13.3332L6.66699 15.8332M6.66699 15.8332L4.16699 13.3332M6.66699 15.8332V4.1665M10.8337 6.6665L13.3337 4.1665M13.3337 4.1665L15.8337 6.6665M13.3337 4.1665V15.8332"
                                stroke="#4A4A4A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>

                    </i>
                    <span class="sidebar-text">Sort</span>
                </button>
                <button class="border py-1 px-2 rounded-md flex flex-row items-center gap-1">
                    <i>
                        <svg width="13" height="13" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M13.6997 7.4165C16.6997 7.67484 17.9247 9.2165 17.9247 12.5915V12.6998C17.9247 16.4248 16.4331 17.9165 12.7081 17.9165H7.28307C3.55807 17.9165 2.06641 16.4248 2.06641 12.6998V12.5915C2.06641 9.2415 3.27474 7.69984 6.22474 7.42484"
                                stroke="#4A4A4A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M10 1.6665V12.3998" stroke="#4A4A4A" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M12.7913 10.542L9.99967 13.3337L7.20801 10.542" stroke="#4A4A4A" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </i>
                    <span class="sidebar-text">Export</span>
                </button>
            </div>
        </div>

        <table class="w-full border-collapse text-left mt-4">
            <thead>
                <tr class="border-b toogle-text">
                    <th class="p-2">User</th>
                    <th class="p-2">Narration</th>
                    <th class="p-2">Usecase</th>
                    <th class="p-2">Time</th>
                    <th class="p-2">Date</th>
                </tr>
            </thead>

            <tbody>
                <tr class="hover:bg-gray-100">
                    <td class="p-2 flex flex-row items-center gap-2 col-1">
                        <img src="assets/table-pfps/Avatar1.png" alt="" class="h-auto w-6">
                        <div class="flex flex-col gap-1">
                            <span class="navbar-text font-semibold">Rayna Vetrovs</span>
                            <span class="navbar-text">Fleet Manager</span>
                        </div>
                    </td>
                    <td class="p-2 narration">
                        <div class="card-text">Has created a new user <strong>Maham Farukh</strong></div>
                    </td>
                    <td class="p-2">
                        <div class="flex flex-row justify-start items-center gap-1">
                            <img src="assets/card-icons/fleetpoint.svg" alt="fleetpoint" class="w-8 h-auto">
                            <span class="toogle-text">Fleetpoint</span>
                        </div>
                    </td>
                    <td class="p-2"><span class="text-xs">02:00 pm</span></td>
                    <td class="p-2">
                        <div class="flex flex-row justify-start items-center gap-1">
                            <i>
                                <svg width="14" height="14" viewBox="0 0 20 20" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M3.33301 6.6665H16.6663M3.33301 6.6665V14C3.33301 14.9334 3.33301 15.3999 3.51466 15.7564C3.67445 16.07 3.92924 16.3252 4.24284 16.485C4.59901 16.6665 5.0655 16.6665 5.9971 16.6665H14.0022C14.9338 16.6665 15.3997 16.6665 15.7558 16.485C16.0694 16.3252 16.3251 16.07 16.4849 15.7564C16.6663 15.4002 16.6663 14.9344 16.6663 14.0028V6.6665M3.33301 6.6665V6C3.33301 5.06658 3.33301 4.59952 3.51466 4.243C3.67445 3.9294 3.92924 3.67462 4.24284 3.51483C4.59936 3.33317 5.06642 3.33317 5.99984 3.33317H6.66634M16.6663 6.6665V5.99726C16.6663 5.06567 16.6663 4.59917 16.4849 4.243C16.3251 3.9294 16.0694 3.67462 15.7558 3.51483C15.3993 3.33317 14.9333 3.33317 13.9998 3.33317H13.333M13.333 1.6665V3.33317M13.333 3.33317H6.66634M6.66634 1.6665V3.33317"
                                        stroke="#4A4A4A" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </i>
                            <span class="text-xs">28/12/2024</span>
                        </div>
                    </td>
                </tr>

                <tr class="hover:bg-gray-100">
                    <td class="p-2 flex flex-row items-center gap-2 col-1">
                        <img src="assets/table-pfps/Avatar3.png" alt="" class="h-auto w-6">
                        <div class="flex flex-col gap-1">
                            <span class="navbar-text font-semibold">Rayna Vetrovs</span>
                            <span class="navbar-text">Fleet Manager</span>
                        </div>
                    </td>
                    <td class="p-2 narration">
                        <div class="card-text">Has created a new user <strong>Maham Farukh</strong></div>
                    </td>
                    <td class="p-2">
                        <div class="flex flex-row justify-start items-center gap-1">
                            <img src="assets/card-icons/fleetpoint.svg" alt="fleetpoint" class="w-8 h-auto">
                            <span class="toogle-text">Fleetpoint</span>
                        </div>
                    </td>
                    <td class="p-2"><span class="text-xs">02:00 pm</span></td>
                    <td class="p-2">
                        <div class="flex flex-row justify-start items-center gap-1">
                            <i>
                                <svg width="14" height="14" viewBox="0 0 20 20" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M3.33301 6.6665H16.6663M3.33301 6.6665V14C3.33301 14.9334 3.33301 15.3999 3.51466 15.7564C3.67445 16.07 3.92924 16.3252 4.24284 16.485C4.59901 16.6665 5.0655 16.6665 5.9971 16.6665H14.0022C14.9338 16.6665 15.3997 16.6665 15.7558 16.485C16.0694 16.3252 16.3251 16.07 16.4849 15.7564C16.6663 15.4002 16.6663 14.9344 16.6663 14.0028V6.6665M3.33301 6.6665V6C3.33301 5.06658 3.33301 4.59952 3.51466 4.243C3.67445 3.9294 3.92924 3.67462 4.24284 3.51483C4.59936 3.33317 5.06642 3.33317 5.99984 3.33317H6.66634M16.6663 6.6665V5.99726C16.6663 5.06567 16.6663 4.59917 16.4849 4.243C16.3251 3.9294 16.0694 3.67462 15.7558 3.51483C15.3993 3.33317 14.9333 3.33317 13.9998 3.33317H13.333M13.333 1.6665V3.33317M13.333 3.33317H6.66634M6.66634 1.6665V3.33317"
                                        stroke="#4A4A4A" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </i>
                            <span class="text-xs">28/12/2024</span>
                        </div>
                    </td>
                </tr>

                <tr class="hover:bg-gray-100">
                    <td class="p-2 flex flex-row items-center gap-2 col-1">
                        <img src="assets/table-pfps/Avatar4.png" alt="" class="h-auto w-6">
                        <div class="flex flex-col gap-1">
                            <span class="navbar-text font-semibold">Rayna Vetrovs</span>
                            <span class="navbar-text">Fleet Manager</span>
                        </div>
                    </td>
                    <td class="p-2 narration">
                        <div class="card-text">Has created a new user <strong>Maham Farukh</strong></div>
                    </td>
                    <td class="p-2">
                        <div class="flex flex-row justify-start items-center gap-1">
                            <img src="assets/card-icons/fleetpoint.svg" alt="fleetpoint" class="w-8 h-auto">
                            <span class="toogle-text">Fleetpoint</span>
                        </div>
                    </td>
                    <td class="p-2"><span class="text-xs">02:00 pm</span></td>
                    <td class="p-2">
                        <div class="flex flex-row justify-start items-center gap-1">
                            <i>
                                <svg width="14" height="14" viewBox="0 0 20 20" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M3.33301 6.6665H16.6663M3.33301 6.6665V14C3.33301 14.9334 3.33301 15.3999 3.51466 15.7564C3.67445 16.07 3.92924 16.3252 4.24284 16.485C4.59901 16.6665 5.0655 16.6665 5.9971 16.6665H14.0022C14.9338 16.6665 15.3997 16.6665 15.7558 16.485C16.0694 16.3252 16.3251 16.07 16.4849 15.7564C16.6663 15.4002 16.6663 14.9344 16.6663 14.0028V6.6665M3.33301 6.6665V6C3.33301 5.06658 3.33301 4.59952 3.51466 4.243C3.67445 3.9294 3.92924 3.67462 4.24284 3.51483C4.59936 3.33317 5.06642 3.33317 5.99984 3.33317H6.66634M16.6663 6.6665V5.99726C16.6663 5.06567 16.6663 4.59917 16.4849 4.243C16.3251 3.9294 16.0694 3.67462 15.7558 3.51483C15.3993 3.33317 14.9333 3.33317 13.9998 3.33317H13.333M13.333 1.6665V3.33317M13.333 3.33317H6.66634M6.66634 1.6665V3.33317"
                                        stroke="#4A4A4A" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </i>
                            <span class="text-xs">28/12/2024</span>
                        </div>
                    </td>
                </tr>

                <tr class="hover:bg-gray-100">
                    <td class="p-2 flex flex-row items-center gap-2 col-1">
                        <img src="assets/table-pfps/Avatar2.png" alt="" class="h-auto w-6">
                        <div class="flex flex-col gap-1">
                            <span class="navbar-text font-semibold">Rayna Vetrovs</span>
                            <span class="navbar-text">Fleet Manager</span>
                        </div>
                    </td>
                    <td class="p-2 narration">
                        <div class="card-text">Has created a new user <strong>Maham Farukh</strong></div>
                    </td>
                    <td class="p-2">
                        <div class="flex flex-row justify-start items-center gap-1">
                            <img src="assets/card-icons/fleetpoint.svg" alt="fleetpoint" class="w-8 h-auto">
                            <span class="toogle-text">Fleetpoint</span>
                        </div>
                    </td>
                    <td class="p-2"><span class="text-xs">02:00 pm</span></td>
                    <td class="p-2">
                        <div class="flex flex-row justify-start items-center gap-1">
                            <i>
                                <svg width="14" height="14" viewBox="0 0 20 20" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M3.33301 6.6665H16.6663M3.33301 6.6665V14C3.33301 14.9334 3.33301 15.3999 3.51466 15.7564C3.67445 16.07 3.92924 16.3252 4.24284 16.485C4.59901 16.6665 5.0655 16.6665 5.9971 16.6665H14.0022C14.9338 16.6665 15.3997 16.6665 15.7558 16.485C16.0694 16.3252 16.3251 16.07 16.4849 15.7564C16.6663 15.4002 16.6663 14.9344 16.6663 14.0028V6.6665M3.33301 6.6665V6C3.33301 5.06658 3.33301 4.59952 3.51466 4.243C3.67445 3.9294 3.92924 3.67462 4.24284 3.51483C4.59936 3.33317 5.06642 3.33317 5.99984 3.33317H6.66634M16.6663 6.6665V5.99726C16.6663 5.06567 16.6663 4.59917 16.4849 4.243C16.3251 3.9294 16.0694 3.67462 15.7558 3.51483C15.3993 3.33317 14.9333 3.33317 13.9998 3.33317H13.333M13.333 1.6665V3.33317M13.333 3.33317H6.66634M6.66634 1.6665V3.33317"
                                        stroke="#4A4A4A" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </i>
                            <span class="text-xs">28/12/2024</span>
                        </div>
                    </td>
                </tr>

                <tr class="hover:bg-gray-100">
                    <td class="p-2 flex flex-row items-center gap-2 col-1">
                        <img src="assets/table-pfps/Avatar1.png" alt="" class="h-auto w-6">
                        <div class="flex flex-col gap-1">
                            <span class="navbar-text font-semibold">Rayna Vetrovs</span>
                            <span class="navbar-text">Fleet Manager</span>
                        </div>
                    </td>
                    <td class="p-2 narration">
                        <div class="card-text">Has created a new user <strong>Maham Farukh</strong></div>
                    </td>
                    <td class="p-2">
                        <div class="flex flex-row justify-start items-center gap-1">
                            <img src="assets/card-icons/fleetpoint.svg" alt="fleetpoint" class="w-8 h-auto">
                            <span class="toogle-text">Fleetpoint</span>
                        </div>
                    </td>
                    <td class="p-2"><span class="text-xs">02:00 pm</span></td>
                    <td class="p-2">
                        <div class="flex flex-row justify-start items-center gap-1">
                            <i>
                                <svg width="14" height="14" viewBox="0 0 20 20" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M3.33301 6.6665H16.6663M3.33301 6.6665V14C3.33301 14.9334 3.33301 15.3999 3.51466 15.7564C3.67445 16.07 3.92924 16.3252 4.24284 16.485C4.59901 16.6665 5.0655 16.6665 5.9971 16.6665H14.0022C14.9338 16.6665 15.3997 16.6665 15.7558 16.485C16.0694 16.3252 16.3251 16.07 16.4849 15.7564C16.6663 15.4002 16.6663 14.9344 16.6663 14.0028V6.6665M3.33301 6.6665V6C3.33301 5.06658 3.33301 4.59952 3.51466 4.243C3.67445 3.9294 3.92924 3.67462 4.24284 3.51483C4.59936 3.33317 5.06642 3.33317 5.99984 3.33317H6.66634M16.6663 6.6665V5.99726C16.6663 5.06567 16.6663 4.59917 16.4849 4.243C16.3251 3.9294 16.0694 3.67462 15.7558 3.51483C15.3993 3.33317 14.9333 3.33317 13.9998 3.33317H13.333M13.333 1.6665V3.33317M13.333 3.33317H6.66634M6.66634 1.6665V3.33317"
                                        stroke="#4A4A4A" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </i>
                            <span class="text-xs">28/12/2024</span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</div>