<!-- Homepage -->
<div class="flex flex-col gap-4 justify-center items-start">
    <h1 class="text-xs font-bold">Browse IoTility Addon Use Cases</h1>

    <div class="grid grid-cols-5 gap-4 w-full">
        <div class="card flex flex-col justify-between py-2 px-2.5 rounded-lg gap-2 bg-white">
            <div>
                <div class="flex flex-row gap-2 items-center">
                    <h2 class="text-xs font-semibold">Fleetpoint</h2>
                    <div class="flex flex-row justify-center gap-0.5 items-center">
                        <i>
                            <svg width="10" height="11" viewBox="0 0 14 15" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M6.25043 0.98376L4.54142 4.60971L0.717772 5.1933C0.391758 5.27161 0.133518 5.5076 0.0386796 5.81396C-0.0561588 6.12044 0.0263878 6.45166 0.255872 6.68507L3.02175 9.50633L2.36769 13.4921C2.28796 13.8 2.40366 14.1238 2.66427 14.3217C2.92488 14.5198 3.28292 14.5559 3.58153 14.4144L6.99955 12.5339L10.4176 14.4144C10.7162 14.5551 11.0737 14.5185 11.334 14.3208C11.5943 14.1229 11.7103 13.7997 11.6314 13.4921L10.9774 9.50633L13.7432 6.68507C13.9734 6.45176 14.0563 6.12033 13.9613 5.81375C13.8664 5.50706 13.6078 5.27107 13.2813 5.1933L9.45768 4.60971L7.74867 0.98376C7.62711 0.691747 7.33007 0.5 6.99955 0.5C6.66902 0.5 6.37199 0.691747 6.25043 0.98376Z"
                                    fill="#FACA4A" />
                            </svg>
                        </i>
                        <p class="card-text">5.0</p>
                    </div>

                </div>
                <p class="card-text">Seamless fleet operations</p>
            </div>


            <div class="flex flex-row justify-between gap-14">
                <button
                    class="border py-1 pl-2 pr-1.5 mt-2.5 card-text w-auto btn rounded-md flex flex-row justify-center items-center">
                    <span class="mt-0.5">Access</span>
                    <i>
                        <svg width="17" height="17" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.33301 6.6665L11.6663 9.99984L8.33301 13.3332" stroke="#1A1A1A"
                                stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </i>
                </button>

                <div>
                    <img src="assets/card-icons/fleetpoint.svg" alt="fleetpoint" class="w-12 h-auto mr-1">
                </div>
            </div>
        </div>

        <div class="card flex flex-col justify-between py-2 px-2.5 rounded-lg gap-2 bg-white">
            <div>
                <div class="flex flex-row gap-2 items-center">
                    <h2 class="text-xs font-semibold">Assetrack</h2>
                    <div class="flex flex-row justify-center gap-0.5 items-center">
                        <i>
                            <svg width="10" height="11" viewBox="0 0 14 15" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M6.25043 0.98376L4.54142 4.60971L0.717772 5.1933C0.391758 5.27161 0.133518 5.5076 0.0386796 5.81396C-0.0561588 6.12044 0.0263878 6.45166 0.255872 6.68507L3.02175 9.50633L2.36769 13.4921C2.28796 13.8 2.40366 14.1238 2.66427 14.3217C2.92488 14.5198 3.28292 14.5559 3.58153 14.4144L6.99955 12.5339L10.4176 14.4144C10.7162 14.5551 11.0737 14.5185 11.334 14.3208C11.5943 14.1229 11.7103 13.7997 11.6314 13.4921L10.9774 9.50633L13.7432 6.68507C13.9734 6.45176 14.0563 6.12033 13.9613 5.81375C13.8664 5.50706 13.6078 5.27107 13.2813 5.1933L9.45768 4.60971L7.74867 0.98376C7.62711 0.691747 7.33007 0.5 6.99955 0.5C6.66902 0.5 6.37199 0.691747 6.25043 0.98376Z"
                                    fill="#FACA4A" />
                            </svg>
                        </i>
                        <p class="card-text">5.0</p>
                    </div>

                </div>
                <p class="card-text">Manage your assets smoothly</p>
            </div>


            <div class="flex flex-row justify-between gap-14">
                <button
                    class="border py-1 pl-2 pr-1.5 mt-2.5 card-text w-auto btn rounded-md flex flex-row justify-center items-center gap-1">
                    <i>
                        <svg width="12" height="12" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M5.875 9H12.125M9 5.875V12.125M16.5 9C16.5 13.1421 13.1421 16.5 9 16.5C4.85786 16.5 1.5 13.1421 1.5 9C1.5 4.85786 4.85786 1.5 9 1.5C13.1421 1.5 16.5 4.85786 16.5 9Z"
                                stroke="#4A4A4A" stroke-width="1.5" stroke-linecap="round" />
                        </svg>
                    </i>
                    <span class="mt-0.5">Add</span>
                </button>

                <div>
                    <img src="assets/card-icons/assetrack.png" alt="fleetpoint" class="w-12 h-auto mr-1">
                </div>
            </div>
        </div>

        <div class="card flex flex-col justify-between py-2 px-2.5 rounded-lg gap-2 bg-white">
            <div>
                <div class="flex flex-row gap-2 items-center">
                    <h2 class="text-xs font-semibold">Sustainex</h2>
                    <div class="flex flex-row justify-center gap-0.5 items-center">
                        <i>
                            <svg width="10" height="11" viewBox="0 0 14 15" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M6.25043 0.98376L4.54142 4.60971L0.717772 5.1933C0.391758 5.27161 0.133518 5.5076 0.0386796 5.81396C-0.0561588 6.12044 0.0263878 6.45166 0.255872 6.68507L3.02175 9.50633L2.36769 13.4921C2.28796 13.8 2.40366 14.1238 2.66427 14.3217C2.92488 14.5198 3.28292 14.5559 3.58153 14.4144L6.99955 12.5339L10.4176 14.4144C10.7162 14.5551 11.0737 14.5185 11.334 14.3208C11.5943 14.1229 11.7103 13.7997 11.6314 13.4921L10.9774 9.50633L13.7432 6.68507C13.9734 6.45176 14.0563 6.12033 13.9613 5.81375C13.8664 5.50706 13.6078 5.27107 13.2813 5.1933L9.45768 4.60971L7.74867 0.98376C7.62711 0.691747 7.33007 0.5 6.99955 0.5C6.66902 0.5 6.37199 0.691747 6.25043 0.98376Z"
                                    fill="#FACA4A" />
                            </svg>
                        </i>
                        <p class="card-text">5.0</p>
                    </div>

                </div>
                <p class="card-text">Contribute to a sustainable earth</p>
            </div>


            <div class="flex flex-row justify-between gap-14">
                <button
                    class="border py-1 pl-2 pr-1.5 mt-2.5 card-text w-auto btn rounded-md flex flex-row justify-center items-center gap-1">
                    <i>
                        <svg width="12" height="12" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M5.875 9H12.125M9 5.875V12.125M16.5 9C16.5 13.1421 13.1421 16.5 9 16.5C4.85786 16.5 1.5 13.1421 1.5 9C1.5 4.85786 4.85786 1.5 9 1.5C13.1421 1.5 16.5 4.85786 16.5 9Z"
                                stroke="#4A4A4A" stroke-width="1.5" stroke-linecap="round" />
                        </svg>
                    </i>
                    <span class="mt-0.5">Add</span>
                </button>

                <div>
                    <img src="assets/card-icons/sustainex.png" alt="fleetpoint" class="w-12 h-auto mr-1">
                </div>
            </div>
        </div>

        <div class="card flex flex-col justify-between py-2 px-2.5 rounded-lg gap-2 bg-white">
            <div>
                <div class="flex flex-row gap-2 items-center">
                    <h2 class="text-xs font-semibold">Twinscape</h2>
                    <div class="flex flex-row justify-center gap-0.5 items-center">
                        <i>
                            <svg width="10" height="11" viewBox="0 0 14 15" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M6.25043 0.98376L4.54142 4.60971L0.717772 5.1933C0.391758 5.27161 0.133518 5.5076 0.0386796 5.81396C-0.0561588 6.12044 0.0263878 6.45166 0.255872 6.68507L3.02175 9.50633L2.36769 13.4921C2.28796 13.8 2.40366 14.1238 2.66427 14.3217C2.92488 14.5198 3.28292 14.5559 3.58153 14.4144L6.99955 12.5339L10.4176 14.4144C10.7162 14.5551 11.0737 14.5185 11.334 14.3208C11.5943 14.1229 11.7103 13.7997 11.6314 13.4921L10.9774 9.50633L13.7432 6.68507C13.9734 6.45176 14.0563 6.12033 13.9613 5.81375C13.8664 5.50706 13.6078 5.27107 13.2813 5.1933L9.45768 4.60971L7.74867 0.98376C7.62711 0.691747 7.33007 0.5 6.99955 0.5C6.66902 0.5 6.37199 0.691747 6.25043 0.98376Z"
                                    fill="#FACA4A" />
                            </svg>
                        </i>
                        <p class="card-text">5.0</p>
                    </div>

                </div>
                <p class="card-text">Smarter solution for smarter buildings</p>
            </div>


            <div class="flex flex-row justify-between gap-14">
                <button
                    class="border py-1 pl-2 pr-1.5 mt-2.5 card-text w-auto btn rounded-md flex flex-row justify-center items-center gap-1">
                    <i>
                        <svg width="12" height="12" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M5.875 9H12.125M9 5.875V12.125M16.5 9C16.5 13.1421 13.1421 16.5 9 16.5C4.85786 16.5 1.5 13.1421 1.5 9C1.5 4.85786 4.85786 1.5 9 1.5C13.1421 1.5 16.5 4.85786 16.5 9Z"
                                stroke="#4A4A4A" stroke-width="1.5" stroke-linecap="round" />
                        </svg>
                    </i>
                    <span class="mt-0.5">Add</span>
                </button>

                <div>
                    <img src="assets/card-icons/twinscape.png" alt="fleetpoint" class="w-12 h-auto mr-1">
                </div>
            </div>
        </div>

        <div class="card flex flex-col justify-between py-2 px-2.5 rounded-lg gap-2 bg-white">
            <div>
                <div class="flex flex-row gap-2 items-center">
                    <h2 class="text-xs font-semibold">Wasterack</h2>
                    <div class="flex flex-row justify-center gap-0.5 items-center">
                        <i>
                            <svg width="10" height="11" viewBox="0 0 14 15" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M6.25043 0.98376L4.54142 4.60971L0.717772 5.1933C0.391758 5.27161 0.133518 5.5076 0.0386796 5.81396C-0.0561588 6.12044 0.0263878 6.45166 0.255872 6.68507L3.02175 9.50633L2.36769 13.4921C2.28796 13.8 2.40366 14.1238 2.66427 14.3217C2.92488 14.5198 3.28292 14.5559 3.58153 14.4144L6.99955 12.5339L10.4176 14.4144C10.7162 14.5551 11.0737 14.5185 11.334 14.3208C11.5943 14.1229 11.7103 13.7997 11.6314 13.4921L10.9774 9.50633L13.7432 6.68507C13.9734 6.45176 14.0563 6.12033 13.9613 5.81375C13.8664 5.50706 13.6078 5.27107 13.2813 5.1933L9.45768 4.60971L7.74867 0.98376C7.62711 0.691747 7.33007 0.5 6.99955 0.5C6.66902 0.5 6.37199 0.691747 6.25043 0.98376Z"
                                    fill="#FACA4A" />
                            </svg>
                        </i>
                        <p class="card-text">5.0</p>
                    </div>

                </div>
                <p class="card-text">Manage your waste, without mess</p>
            </div>


            <div class="flex flex-row justify-between gap-14">
                <button
                    class="border py-1 pl-2 pr-1.5 mt-2.5 card-text w-auto btn rounded-md flex flex-row justify-center items-center gap-1">
                    <i>
                        <svg width="12" height="12" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M5.875 9H12.125M9 5.875V12.125M16.5 9C16.5 13.1421 13.1421 16.5 9 16.5C4.85786 16.5 1.5 13.1421 1.5 9C1.5 4.85786 4.85786 1.5 9 1.5C13.1421 1.5 16.5 4.85786 16.5 9Z"
                                stroke="#4A4A4A" stroke-width="1.5" stroke-linecap="round" />
                        </svg>
                    </i>
                    <span class="mt-0.5">Add</span>

                </button>

                <div>
                    <img src="assets/card-icons/wasterack.png" alt="wasterack" class="w-12 h-auto mr-1">
                </div>
            </div>
        </div>
    </div>
</div>