.btn-text {
    font-size: 0.6rem;
}

.btn2-text {
    font-size: 0.61rem;
}

.input-text {
    font-size: 0.5rem;
}

.card-text {
    font-size: 0.52rem;
}

.card-text-2 {
    font-size: 0.65rem;
}

.btn3-text {
    font-size: 0.65rem;
}

.sidebar-text {
    font-size: 0.6rem;
}