<div class="flex flex-col justify-start items-center w-full gap-4 p-0.5 h-screen">
    <div class="flex flex-row justify-between items-center w-full">
        <div class="flex flex-row justify-center items-center gap-2">
            <a href="/dashboard/fleetpoint/routes/">

                <svg width="14" height="16" viewBox="0 0 14 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.5 1.49976L2 11.9998L12.5 22.4998" stroke="#1A1A1A" stroke-width="3"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>

            </a>

            <h1 class="text-2xl font-extrabold">Route Details</h1>
            <div class="border rounded-md flex flex-row justify-center items-center bg-white">
                <button (click)="navigateToDashboard()"
                    class="border-r py-1.5 px-2.5 btn-text text-gray-700 flex flex-row justify-center items-center gap-1">
                    <img src="assets/icons/icon_interface.png" alt="" class="w-3 h-auto">
                    <span>Dashboard</span>
                </button>
                <button (click)="navigateToRoutes()"
                    class="border-r py-1.5 pr-2.5 btn-text text-gray-700 flex flex-row justify-center items-center gap-1">
                    <img src="assets/icons/arrow.png" alt="" class="w-3 h-auto">
                    <span>Routes</span>
                </button>
                <button (click)="navigateToRouteDetails()"
                    class="border-r py-1.5 pr-2.5 btn-text text-gray-700 flex flex-row justify-center items-center gap-1">
                    <img src="assets/icons/arrow.png" alt="" class="w-3 h-auto">
                    <span>Route Details</span>
                </button>
            </div>
        </div>

        <div class="flex flex-row justify-center items-center gap-2">
            <div class="flex flex-row justify-between items-center border input-text rounded-md px-2 py-1.5">
                <input type="text" name="search" id="search"
                    class="placeholder:text-gray-300 bg-transparent w-full focus:outline-none"
                    placeholder="Search Details">
                <img src="assets/icons/search.png" alt="" class="w-2.5 h-auto">
            </div>
            <button
                class="flex flex-row justify-center items-center gap-1 bg-white border-0 btn2-text text-gray-600 px-2 py-1.5 rounded-md">
                <img src="assets/icons/add-icon-2-black.png" alt="" class="w-2.5 h-auto">
                <span class="font-semibold mt-px">Filters</span>
            </button>
        </div>
    </div>

    <div class="bg-white p-5 w-full flex flex-col justify-center items-center gap-3 rounded-xl">
        <div class="flex flex-row justify-between items-center w-full">
            <div class="flex flex-col justify-center items-start gap-1.5">
                <h5 class="text-xs font-bold">KHI-ISB</h5>
                <div class="btn-text border px-1 py-px rounded">Traffic Aware</div>
            </div>
            <div class="flex flex-row justify-center items-center gap-4">
                <p class="btn-text mt-0.5">ETA: <span class="font-inter">2h 55m</span></p>
                <div
                    class="flex flex-row justify-center items-center gap-1 input-text px-1 py-0.5 rounded text-gray-100 bg-[#1AD598]">
                    <img src="assets/icons/tick.png" alt="" class="w-2.5 h-auto">
                    <span class="mt-px">Dispatched</span>
                </div>
                <select name="actions" id="actions" class="text-xs bg-gradient-to-b from-[#6300D6] to-[#8938E7] rounded-md cursor-pointer text-gray-200 py-1 px-1.5 
                    focus:outline-none">
                    <option value="" disabled selected class="text-gray-400">ACTIONS</option>
                    <option value="edit" class="text-black bg-white">Edit</option>
                    <option value="delete" class="text-red-500 bg-white">Delete</option>
                    <option value="view" class="text-green-500 bg-white">View</option>
                </select>
            </div>
        </div>

        <div class="flex flex-row justify-between items-center w-full relative">
            <div class="flex flex-col items-start justify-center gap-1 z-10">
                <div class="flex items-center justify-center p-1.5 rounded-full bg-[#1A1A1A]">
                    <img src="assets/icons/location-white.png" alt="" class="w-3.5 h-auto">
                </div>
                <p class="card-text-2 font-bold">Karachi, PK</p>
            </div>

            <div class="flex flex-col items-center flex-grow absolute w-full">
                <div class="relative w-full flex items-center">

                    <div class="border-t-2 border-dashed border-gray-300 absolute w-full bottom-7"></div>

                    <div class="flex flex-row justify-center items-center mx-auto gap-6 relative bottom-2.5">
                        <div class="btn-text font-inter rounded flex flex-col justify-center items-center gap-2">
                            <div class="flex flex-row gap-px justify-center items-center -ml-2">
                                <img src="assets/icons/location.png" alt="" class="w-5 h-auto -mt-1">
                                <span class="btn3-text text-gray-600">Stop 1</span>
                            </div>
                            <div class="btn3-text font-bold ">Hyderabad</div>
                        </div>
                        <div class="btn-text font-inter rounded flex flex-col justify-center items-center gap-2">
                            <div class="flex flex-row gap-px justify-center items-center -ml-2">
                                <img src="assets/icons/location.png" alt="" class="w-5 h-auto -mt-1">
                                <span class="btn3-text text-gray-600">Stop 2</span>
                            </div>
                            <div class="btn3-text font-bold ">Sukkur</div>
                        </div>
                        <div class="btn-text font-inter rounded flex flex-col justify-center items-center gap-2">
                            <div class="flex flex-row gap-px justify-center items-center -ml-2">
                                <img src="assets/icons/location.png" alt="" class="w-5 h-auto -mt-1">
                                <span class="btn3-text text-gray-600">Stop 3</span>
                            </div>
                            <div class="btn3-text font-bold ">Multan</div>
                        </div>
                        <div class="btn-text font-inter rounded flex flex-col justify-center items-center gap-2">
                            <div class="flex flex-row gap-px justify-center items-center -ml-2">
                                <img src="assets/icons/location.png" alt="" class="w-5 h-auto -mt-1">
                                <span class="btn3-text text-gray-600">Stop 4</span>
                            </div>
                            <div class="btn3-text font-bold ">Bahawalpur</div>
                        </div>
                        <div class="btn-text font-inter rounded flex flex-col justify-center items-center gap-2">
                            <div class="flex flex-row gap-px justify-center items-center -ml-2">
                                <img src="assets/icons/location.png" alt="" class="w-5 h-auto -mt-1">
                                <span class="btn3-text text-gray-600">Stop 5</span>
                            </div>
                            <div class="btn3-text font-bold ">Lahore</div>
                        </div>
                        <div class="btn-text font-inter rounded flex flex-col justify-center items-center gap-2">
                            <div class="flex flex-row gap-px justify-center items-center -ml-2">
                                <img src="assets/icons/location.png" alt="" class="w-5 h-auto -mt-1">
                                <span class="btn3-text text-gray-600">Stop 6</span>
                            </div>
                            <div class="btn3-text font-bold ">Faisalabad</div>
                        </div>

                    </div>



                </div>


            </div>

            <div class="flex flex-col items-end justify-center gap-1 z-10">
                <div class="flex items-center justify-center p-1.5 rounded-full bg-[#1A1A1A]">
                    <img src="assets/icons/location-white.png" alt="" class="w-3.5 h-auto">
                </div>
                <p class="card-text-2 font-bold">Islamabad, PK</p>
            </div>
        </div>

        <div class="w-full bg-gray-50 rounded-xl overflow-hidden">
            <ng-container *ngIf="apiLoaded">
                <google-map *ngIf="apiLoaded" [center]="center" [zoom]="zoom"
                [width]="'100%'" [height]="'325px'" [options]="mapOptions">
                </google-map>
              </ng-container>
        </div>

        <!--<ng-container *ngIf="apiLoaded">
            <google-map *ngIf="apiLoaded" class="fixed top-0 left-0 w-full h-full" [center]="center" [zoom]="zoom"
              [height]="'100%'" [width]="'100%'" [options]="mapOptions">
            </google-map>
          </ng-container>-->
    </div>
</div>