<div class="grid grid-cols-12 w-screen h-screen overflow-hidden">
    <!-- Left Panel -->
     
    <div class="left flex flex-col justify-between h-full col-span-8 bg-black relative w-full overflow-hidden">
        <div class="logos flex items-center p-2 h-[45px] mt-2">
            <img src="assets/hypernym-logo.png" alt="Hypernym-Logo" class="w-[13%] p-2">
            <div class="w-0.5 h-10 ml-2 mr-2 bg-white"></div>
            <img src="assets/iotility-logo.png" alt="Iotility-Logo" class="w-[13%] p-2">
        </div>
        

        <div class="flex flex-col justify-center items-center branding h-full mx-5 -mt-10 branding">
            <img src="assets/svgs/graph.svg" alt="" class="graph">
        </div>

        <div class="flex justify-center items-center background absolute w-full">
            <div class="flex flex-col w-72 gap-4 justify-center items-center">
                <h1 class="text-white text-2xl text-center font-bold">Your ultimate toolkit for everything you need!</h1>
                <p class="text-xs text-white text-center">Tailored just for your wild IoT Adventures!</p>
            </div>
        </div>
        
        
    </div>

    <!-- Right Panel -->
    <div class="col-span-4 overflow-y-auto" style="background-color: #F7F6FF">
        <router-outlet></router-outlet>
    </div>
    
</div>