.branding {
    background-image: url('../../assets/background/group.png');
    background-size: 99%;
    background-repeat: no-repeat;
    background-position-y: center;
}

.background {
    background-image: url('../../assets/background/ellipse.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    top: 40%;
    height: 100%;
}

.h-logo {
    top: 45%;
}

.graph {
    width: 80%;
    height: 100%;
    margin-bottom: 50px;
}