<!-- Notifications Settings -->
<div class="flex flex-col gap-2 w-full">
    <div class="flex flex-col gap-1">
        <h2 class="font-bold">Notification Preferences</h2>
        <p class="heading-p text-gray-600">You can update your notifications settings here.</p>
    </div>

    <div class="flex flex-row justify-between items-center w-full mt-5">
        <div class="flex flex-col gap-1">
            <h3 class="notification-heading font-bold">Do Not Disturb Mode</h3>
            <p class="notification-text text-gray-600">Enable to silent notifications during specific times.</p>
        </div>

        <div>
            <div class="relative inline-block w-6 h-3">
                <input checked id="do-not-disturb" type="checkbox"
                    class="peer appearance-none checkbox bg-gray-100 rounded-full checked:bg-blue-600 cursor-pointer transition-colors duration-300" />
                <label for="do-not-disturb"
                    class="toogle-circle absolute w-2.5 h-2.5 bg-gray-300 rounded-full border shadow-sm transition-transform duration-300 peer-checked:translate-x-3 peer-checked:bg-white cursor-pointer">
                </label>
            </div>
            
        </div>
    </div>

    <div class="h-px w-full bg-gray-200"></div>

    <div class="flex flex-row justify-between items-center w-full">
        <div class="flex flex-col gap-1">
            <h3 class="notification-heading font-bold">Email Notifications</h3>
            <p class="notification-text text-gray-600">Toggle to enable or disable notifications via email.</p>
        </div>

        <div>
            <div class="relative inline-block w-6 h-3">
                <input checked id="enable-notifications" type="checkbox"
                    class="peer appearance-none checkbox bg-gray-100 rounded-full checked:bg-blue-600 cursor-pointer transition-colors duration-300" />
                <label for="enable-notifications"
                    class="toogle-circle absolute w-2.5 h-2.5 bg-gray-300 rounded-full border shadow-sm transition-transform duration-300 peer-checked:translate-x-3 peer-checked:bg-white cursor-pointer">
                </label>
            </div>
        </div>
    </div>

    <div class="h-px w-full bg-gray-200"></div>

    <div class="flex flex-row justify-between items-center w-full">
        <div class="flex flex-col gap-1">
            <h3 class="notification-heading font-bold">SMS Notifications</h3>
            <p class="notification-text text-gray-600">Enable or disable notifications via text messages.</p>
        </div>

        <div>
            <div class="relative inline-block w-6 h-3">
                <input checked id="sms-notifications" type="checkbox"
                    class="peer appearance-none checkbox bg-gray-100 rounded-full checked:bg-blue-600 cursor-pointer transition-colors duration-300" />
                <label for="sms-notifications"
                    class="toogle-circle absolute w-2.5 h-2.5 bg-gray-300 rounded-full border shadow-sm transition-transform duration-300 peer-checked:translate-x-3 peer-checked:bg-white cursor-pointer">
                </label>
            </div>
        </div>
    </div>

    <div class="h-px w-full bg-gray-200"></div>

    <div class="flex flex-row justify-between items-center w-full">
        <div class="flex flex-col gap-1">
            <h3 class="notification-heading font-bold">Push Notifications</h3>
            <p class="notification-text text-gray-600">Enable or disable notifications within the app or website.</p>
        </div>

        <div>
            <div class="relative inline-block w-6 h-3">
                <input checked id="push-notifications" type="checkbox"
                    class="peer appearance-none checkbox bg-gray-100 rounded-full checked:bg-blue-600 cursor-pointer transition-colors duration-300" />
                <label for="push-notifications"
                    class="toogle-circle absolute w-2.5 h-2.5 bg-gray-300 rounded-full border shadow-sm transition-transform duration-300 peer-checked:translate-x-3 peer-checked:bg-white cursor-pointer">
                </label>
            </div>
        </div>
    </div>

    <div class="h-px w-full bg-gray-200"></div>

    <div class="flex flex-row justify-between items-center w-full">
        <div class="flex flex-col gap-1">
            <h3 class="notification-heading font-bold">In-App Notifications</h3>
            <p class="notification-text text-gray-600">Enable or disable notifications within the app or website.</p>
        </div>

        <div>
            <div class="relative inline-block w-6 h-3">
                <input checked id="in-app-notifications" type="checkbox"
                    class="peer appearance-none checkbox bg-gray-100 rounded-full checked:bg-blue-600 cursor-pointer transition-colors duration-300" />
                <label for="in-app-notifications"
                    class="toogle-circle absolute w-2.5 h-2.5 bg-gray-300 rounded-full border shadow-sm transition-transform duration-300 peer-checked:translate-x-3 peer-checked:bg-white cursor-pointer">
                </label>
            </div>
        </div>
    </div>

</div>